[2012-04-01 07:00] lg0 opened #1 "for Markdown parsing"
there are some problems when maruku parsing my post.
how can i use Kramdown for markdown parsing？

anyway thank you for your great work, its pretty easy to use.

[2012-04-01 22:13] cboettig opened #2 "weird install error"
Somehow I messed up the gem install.

[code]

[code]

[2012-04-02 02:58] benatkin opened #3 "_media not created w/ 'ruhoh new'"
The _media directory isn't created & causes an error when running ruhoh compile.

[2012-04-04 19:19] duplabe opened #4 "json is required gem"
I followed the install steps. After running ruhoh new site_name I had an error:

<code>/usr/lib/ruby/vendor_ruby/1.8/rubygems/custom_require.rb:36:in `gem_original_require': no such file to load -- json (LoadError)</code>

After I installed json gem the error disappeared.

[2012-04-04 21:04] duplabe opened #5 "realpath"
I installed ruhoh and run ruhoh compile in directory /www/duplabe.hu.  /www is a symlink to /mnt/host. It's a vboxfs shared folder.

Got the following error:

<code>/var/lib/gems/1.8/gems/ruhoh-0.0.3/bin/../lib/ruhoh/utils.rb:23:in `parse_file':
File not found: /mnt/host/duplabe.hu/mnt/host/duplabe.hu/_templates/themes/twitter/layouts/default.html (RuntimeError)
</code>

[2012-04-04 21:12] plusjade commented on #5
@duplabe thank you for these error reports, I don't have a reliable way to test on multiple platforms+environments just yet so this is very helpful.  I think I remember seeing Jekyll disallow symlinks for likely a similar reason.

I'll most likely be documenting how to run a HEAD version of the gem by downloading it from the GitHub repo, that way I don't have to update http://rubygems.org a billio

[2012-04-04 21:34] duplabe commented on #5
Good idea. Looking forward this solution.

Like this enhanced jekyll thing :)

[2012-04-04 23:09] plusjade commented on #3
Thanks Ben!

[2012-04-04 23:17] #3 closed, assigned to nobody

[2012-04-09 22:29] rriemann commented on #1
this project looks really interesting, but please take advantage of using kramdown. It's more than 4x faster. ;)
http://kramdown.rubyforge.org/index.html

[2012-04-10 00:43] plusjade commented on #1
@saLOUt thank you I will try it out as I have been experiencing issues with Maruku myself.

[2012-04-11 03:16] barkmadley opened #6 "Support for JSON configuration"
How hard would it be to be able to use json in place of yaml in more places?

particularly in the front-matter and the _config files.

[2012-04-11 09:08] plusjade commented on #6
Not hard, but what would be your primary reason?

Personally, I do lean toward using JSON for configuration files because json is handled more easily by more languages. But the main advantage of yaml is that it is "not a markup language" of course ;) . i.e. it's probably easier for beginners to use and understand at first glance?

I do think JSON would be a better technical implementation choice b

[2012-04-11 14:27] tkellen opened #7 "Support CSS/JS compilation and minification"
This includes processing for languages like SASS, LESS, coffeescript etc.

loving ruhoh so far!  just curious if there is any plan for adding this.

[2012-04-11 23:03] plusjade commented on #7
Yes, I expect modules to be built to handle those. The principle design strategy of ruhoh is modularity so it will have to be a layer on top of how ruhoh currently works, rather than strictly built-in.

Honestly this is a ways away for me to _personally_ work on though. Once I publish the docs on how to extent ruhoh I'd hope someone can take the lead in this area.

I have only worked with require.

[2012-04-12 14:35] barkmadley commented on #6
Just bike shedding.

I personally find yaml syntax awkward and non-intuitive at times (how do you nest a list inside a key-value object inside a list? I bet it looks ugly).
JSON has consistency on its side in my mind.

[2012-04-12 14:47] tkellen commented on #7
Seeing as how this is a ruby tool, I'd recommend checking out rake-pipeline and rake-pipeline-web-filters.  I think it would dovetail very nicely with your project.

[2012-04-12 22:21] plusjade commented on #7
Sounds good, I'll give them a look and update this thread when I make any progress - thanks!

[2012-04-16 21:29] tkellen opened #9 "make default extension for new pages configurable"
It's annoying to have to specify a .html extension all the time (for those who don't like/care about markdown).  At the very least publishing an entry should default to the same format as the draft.

[2012-04-16 21:34] tkellen opened #10 "internet connection required to work on blog"
I understand how pulling from git would ease development, but creating a draft shouldn't require an internet connection, should it?  I am working without a connection regularly.

[2012-04-16 21:36] tkellen commented on #10
lool, nevermind.  i was doing ruhoh new draft...

[2012-04-16 21:36] #10 closed, assigned to nobody

[2012-04-17 00:27] plusjade commented on #9
Your suggestion is very sensible. Will add this to the feature list:
- Make global default post file extension configurable (will pull from _config.yml)
- Publishing a draft needs to preserve file extension.

Come to think of it that second one is actually a bug. @tkellen thanks for your support and time!

[2012-04-17 00:32] tkellen commented on #9
Thank _you_ Jade, I'm really enjoying ruhoh!

[2012-04-17 02:27] DrayChou opened #11 "Please see it,thanks"
[code]

[2012-04-17 02:30] DrayChou commented on #11
E:\Dray\Git\ruhoh\draychou.ruhoh.com>ruhoh help

[code]

[2012-04-18 00:58] plusjade commented on #11
@DrayChou it seems that Psych::SyntaxError is not loading which is in the YAML library. There was a similar issue with JSON not being properly required and it was also on a windows machine. Do you know how to run gems via bundler?

This way I will update the source with the fix and then you can run the gem from the git repository and see that the fix works. This is the only way we can be sure the

[2012-04-18 05:11] DrayChou commented on #11
like this?

[code]

[2012-04-18 07:43] #11 closed, assigned to nobody

[2012-04-18 07:50] plusjade commented on #11
@DrayChou I have realized it is because YAML is trying to use syck rather than psych parser.
Can you uninstall ruhoh then re-install it?

[code]

Let me know if this works. If not you may have to install the `psych` gem manually but it should be part of ruby 1.9.x standard library.

[2012-04-18 08:03] #9 closed, assigned to nobody

[2012-04-18 13:08] davejlong opened #12 "{{# categories }} and {{# tags }} give the same list"
I have a categories.html and a tags.html page on my site. Here is the code for each of them
## Tags.html:

[code]

Categories.html
    ---
    title: Blog Categories
    description:

[code]

Both pages only render categories onto the page. If I run `ruhoh payload` I can clearly see that there are tags and categories in my site:

[code]

I'm assuming that it is something that I am not doing correc

[2012-04-19 01:28] zx1986 opened #13 "Could not update Git repository by ruhoh.com"
hello!

last night I built my first ruhoh blog powered by ruhoh.com,
I follow the steps on the home page of ruhoh.com, and it works fine.

but I after did:
ruhoh theme twitter
git add .
git commit -a
git push

I got:
2012-04-18 16:02:28 UTC
ERROR: Could not update Git repository

I could not fix it.
then, I remove my git repository on Github.com, and create a new one with the same name.

I got :
2

[2012-04-19 01:30] DrayChou commented on #11
Sorry, there is another mistake, file path is wrong, and what's [32m ?

![error message](http://s2.i1.picplzthumbs.com/upload/img/14/e7/21/14e72188819b814b81040db090bdc4d102e29f0e_wmeg.jpg)

[code]

[2012-04-19 02:10] plusjade commented on #11
ive seen this before.... I will fix this.  seems the windows path is not
being handled correctly

[2012-04-19 07:34] plusjade commented on #12
@davejlong  HUGE oversight on my part. That's what I get for copy/pasting methods (and not keeping my tests in sync with development)

This is a great catch. You can see the problem here: https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/templaters/helpers.rb#L29

I'll push this fix asap. Also you might need to specify the gem version in the gem file as I push all these fixes (but you probab

[2012-04-19 08:07] plusjade commented on #2
ruhoh has not been tested with ruby 1.8.x and is not officially supporting it.
I'm going to close this ticket but I will add in a task to eventually look into officially supporting 1.8 and depending on how hard it is, will implement it.

Thanks for this issue, and your patience Carl, and if possible try it using ruby 1.9.x

[2012-04-19 08:07] #2 closed, assigned to nobody

[2012-04-19 08:12] #12 closed, assigned to nobody

[2012-04-19 08:17] plusjade commented on #11
@DrayChou please try just released version 0.1.3, I've added a fix but cannot be sure it works because I don't have access to a Windows machine with ruby environment. Thank you for your continued debugging support and let me know if this works.

Also  [32m is an ANSI escape code for color-coding terminal output. A quick summary here: http://stackoverflow.com/questions/2616906/how-do-i-output-colou

[2012-04-19 14:40] davejlong commented on #12
If I leave the gem version off, shouldn't it just update to the latest version of the gem?  I am still fairly new to Ruby (coming from a ColdFusion background), so forgive my lack of knowledge here.

[2012-04-19 15:23] cboettig commented on #2
install with ruby 1.9.1 worked like a charm.

On Thu, Apr 19, 2012 at 1:07 AM, Jade <
reply@reply.github.com

##

Carl Boettiger
UC Davis
http://www.carlboettiger.info/

[2012-04-19 20:08] plusjade commented on #12
I think you are probably right, it will assume the latest version. Though it is _best practice_ to specify specific gem versions - essentially that is what is going on within the Gemfile.lock. I was mainly letting you know so that we both can be sure you are running v0.1.3 and so we can know whether or not the issue has been resolved.

[2012-04-19 20:25] davejlong commented on #12
Okay. I can confirm that the issue was resolved (without specifying the Gem version). I'll probably leave off the version until I actually launch my site, which I would think is better practice so that I can have my site on the latest version until launch and then use a version that I know works and selectively upgrade after I test new versions.

##

David Long
Sent with Sparrow (http://www.sparro

[2012-04-19 20:29] plusjade commented on #12
Right, glad it worked for you! I think the hassle of gem versions starts to present itself when you are in a team environment with everyone pushing and pulling throughout the day, then differences between localhost/staging/production etc.  In any case thanks again and look forward to more input!

[2012-04-19 21:59] davejlong commented on #12
Strangely enough I moved from my Mac to my Ubuntu netbook and the Gemfile without specifying the version required would only install version 0.1.0. So I guess it is best to specify the version desired. (Last comment, I swear)

[2012-04-19 22:06] davejlong opened #14 "RSS Feed Generation"
When compiling the site into static files, an RSS/Atom feed should be generated for the posts. When the site is compiled with `ruhoh compile` or published to ruhoh.com hosting (which I am assuming uses `ruhoh compile`) the posts should be looped through to generate the item tags. Any other settings for the RSS feed (title, description, etc.) can just be taken from the YAML config files.

[2012-04-19 22:07] davejlong commented on #14
I've started working on an RSS Builder gem at github.com/davejlong/rss-builder and once I finish it I will try to fold it into a ruhoh fork, but I wanted to post an issue here in case there already is a way to generate the feed and I couldn't find it.

[2012-04-19 23:46] plusjade commented on #14
@davejlong no there has been no development in the RSS stuff for ruhoh. I would greatly appreciate your help in that. A few people have contributed some basic atom feed generators in Jekyll-Bootstrap, so I had just planned to port them over to ruhoh. However I honestly don't understand how RSS works because I don't use RSS, so if you were to implement a more robust solution that would definitely b

[2012-04-20 03:54] frolic opened #15 "Clean redirects and/or aliases"
One issue that has kept me from moving to Jekyll/Github Pages is the lack of clean redirects via 301 and 302 status/headers. I would like to migrate some sites to Ruhoh and would need to change my URL structure a bit, but meta refresh redirects from the old URLs feels really...dirty.

A good start might be a set of aliases in the pages' YAML Front Matter, e.g.

[code]

Is this something you would

[2012-04-20 05:06] plusjade commented on #15
Redirects are **definitely** planned. It was one of the motivating factors for implementing my own solution in the first place, because you are right, GitHub Pages is unlikely to support redirecting and I've found more times than not that I change the structure of my websites around to where redirects make sense. It follows the whole programmer's mantra of "coding fearlessly". That is to say setti

[2012-04-20 05:17] frolic commented on #15
Haha! I figured it had something to do with the Scooby Doo "ruh-roh". Cute name, but I have a feeling I'll be frequently mistyping it. :P

It's tricky with the sites being generated as a collection of static files instead of passing requests through some type of routing utility. An .htaccess file generated for Apache servers would work fine, but I worry about Nginx, Lighttpd, and other servers. I

[2012-04-20 09:39] DrayChou commented on #11
The good news, now can run normally. All pages showing no problem, but I don't have any other part of the test, wait a moment to have time I'll go with him, thank you.

E:\Dray\Git\ruhoh\draychou.ruhoh.com>rackup -p 9292
0 posts to process.
0 drafts to process.
[32m6/6 pages processed. [0m
=> Start watching: E:/Dray/Git/ruhoh/draychou.ruhoh.com
[2012-04-19 17:37:22] INFO  WEBrick 1.3.1
[2012-04-19

[2012-04-20 21:39] plusjade commented on #11
Glad it worked. For what it is worth, I hope to fully support ruhoh on Windows machines, it's just  I don't have access to a Windows machine with a ruby environment that works ;)

[2012-04-21 07:47] DrayChou commented on #11
Thank you, if I encounter problems, I will timely issue,

[2012-04-21 16:07] theaob opened #16 "incompatible character encodings"
Hi, I've been trying to use staticly generated pages for my personal blog but Turkish is my mother language and many static generators doesn't support special characters in my language.
I've had the same problem with ruhoh as well. I put special chars on a post title ("Türkçe Başlık Oluşturmak İmkansız Mı?"). Publishing removed special characters on the actual post file but links generated were si

[2012-04-21 20:09] plusjade commented on #16
@theaob do you have any ideas how to support the special characters? I am not too familiar with it. I would like to officially support many languages so it would be helpful if you can point me in the right direction and/or offer some contributions. - thanks!

[2012-04-22 19:44] davejlong opened #17 "Plugin Architecture"
One of the things that I really likes about Jekyll that I am missing with Ruhoh is a plugin architecture to make extending Ruhoh easier than creating a custom fork of the core. Especially when it comes to a generator architecture so that we could use CoffeeScript, SASS or Less for our assets without have to compile those outside of just using the compile command or uploading the code to GitHub.

[2012-04-22 20:04] plusjade commented on #17
@davejlong I fully agree and plugins will be supported "natively" in the sense that ruhoh is built in a modular way, which is to say all modules are essentially plugins in themselves. I know that is quite vague and doesn't really give you any practical advice but I want to convey that I built ruhoh with the intention that it should be highly extensible in very intuitive way.

With that said I have

[2012-04-22 20:32] davejlong commented on #17
Awesome I figured it was planned, but just trying to get to the 1.0
release.

sent from my Android smart phone
On Apr 22, 2012 4:04 PM, "Jade" <
reply@reply.github.com>
wrote:

[2012-04-24 09:25] Heliosmaster opened #19 "Unable to run tests"
Hi, I've forked the gem and tried to run the tests, but the output is this: http://pastebin.com/RTtDYuNm

[2012-04-24 14:53] theaob commented on #16
Well wordpress and blogger converts them to english equivalents (é to e for example). That way is better for page rank and recognition but removing those characters from the link is also an option

[2012-04-24 21:21] plusjade commented on #19
@Heliosmaster sorry about that. Seems I've hard coded the path to the sample blog directory in spec_helper.rb: https://github.com/ruhoh/ruhoh.rb/blob/0.2.0/spec/spec_helper.rb#L22 (this is on branch 0.2.0 which it looks like you are using)

You'll need to `git clone git://github.com/ruhoh/blog.git` the blog scaffold and then update the `SampleSitePath` to the location of the blog scaffold.

I know

[2012-04-24 21:37] plusjade commented on #16
Thanks, I will check those solutions out and see what I can do.

[2012-04-26 09:48] Heliosmaster commented on #19
I was thinking about setting automated tests with travis, so I wanted first to run them on my machine. But if you have implemented it so, I am not sure it can be done with Travis.

[2012-04-29 19:39] timmie opened #21 "what about other VCS like BZR or HG?"
Hello,
there are other depeloper communities at Launchpad and google code.

Your solution just looks to nice to be missing these repositores...

Would it be feasibile?

[2012-04-29 21:09] plusjade commented on #21
@timmie I agree and I am serious when I say ruhoh's core vision is to enable _all developers_ to publish content. Toward that end it would be worth supporting other VCSs.  The one problem I have is I personally don't know much about the other systems so I would/could not prioritize developing solutions in lieu of other core issues (being this is still beta and all).

I think it is worth supporting

[2012-05-04 09:59] plusjade commented on #19
0.2.0 fixes this ( https://github.com/ruhoh/ruhoh.rb/pull/20) and integrates Travis as well with thanks to @ben-biddington. 0.2.0 is at HEAD now but not released on rubygems yet.

[2012-05-04 09:59] #19 closed, assigned to nobody

[2012-05-06 01:59] ben-biddington commented on #15
Does it need to be a physical redirect? I did a hackaround the other day to display my latest post as index.html by adding the concept
of a redirect in metadata.

[code]

(Also requires custom route `/posts/latest`)

Perhaps this's the inverse of what you want, though?

[2012-05-06 02:05] frolic commented on #15
The idea is to have a 301 and/or 302 redirects instead of meta tag redirects. How are your redirects implemented?

[2012-05-06 02:10] ben-biddington commented on #15
As a compile-time redirect, so in the example:

[code]

The result is that `index.html` is a duplicate of whatever the latest post is.

[2012-05-07 07:56] niedzielski opened #22 "Post-Receive Service Hook Failure: wrong number of arguments(2 for 1)"
1. Create a new repository.
2. Add a post-receive service hook, http://post.ruhoh.com.
3. Run the advertised steps:

[code]
1. Visit niedzielski.ruhoh.com and get a 404. Logs say: wrong number of arguments(2 for 1)

[2012-05-07 09:36] ranxiang commented on #22
same issue on ranxiang.ruhoh.com

[2012-05-07 10:15] plusjade commented on #22
Darn, I'm getting that too. I'm just about to sleep but I'll address this tomorrow. The localhost stuff should all work though! Thanks for your patience.

[2012-05-08 15:39] davejlong commented on #21
How about install instructions for post.ruhoh.com so that we can contribute to that to enable other VCS tools. I also wanted to look at adding a feature to support git submodules in repos so that themes and content can be separate. I guess I am really posting an issue with post.ruhoh.com's repo.

[2012-05-08 15:41] davejlong opened #23 "1.9.3 Deprecation of iconv"
In Ruby 1.9.3 [-p125] the iconv library has been deprecated and using String#encode is recommended instead. I see a message about it on every ruhoh command. The full message is as follows:

[code]

[2012-05-08 23:22] plusjade commented on #22
This error should be fixed now. Please redeploy and ensure this work. All I did was do a hard restart on my web-server but apparently it's working now. Please verify, thank you.

[2012-05-08 23:23] plusjade commented on #22
I'll ping @niedzielski and @ranxiang in case you guys didn't get updated.

[2012-05-09 00:50] plusjade commented on #21
@davejlong I just updated the README with some quick instructions: https://github.com/ruhoh/post.ruhoh.com#readme

Let me know if you need any more help getting it running on localhost. Supporting other services would definitely be fantastic, so good luck to you!

[2012-05-09 04:58] niedzielski commented on #22
Fixed. Works perfectly. Thank you!

[2012-05-09 04:58] #22 closed, assigned to nobody

[2012-05-10 09:55] plusjade commented on #1
@saLOUt it looks like GitHub uses RedCarpet for their internal Markdown stuff? What are your views on it: https://github.com/tanoku/redcarpet ??

[2012-05-10 17:42] cboettig commented on #1
I've taken to redcarpet2 -- [Github seems to have only the 1.17.2](http://stackoverflow.com/questions/8395347/gollum-wiki-undefined-method-new-for-redcarpetmodule) supported on their Jekyll engine, not sure what version they are using to power Github Flavored Markdown.

I've been using redcarpet 2 because it allows `fenced code blocks`, `tables`, and `no_intra_emphasis`. I refuse to write markdown

[2012-05-10 17:46] rriemann commented on #1
I always use kramdown for my projects – it is at least supported by gh-pages.

[2012-05-10 20:18] plusjade commented on #1
@cboettig I agree about wrapping code in liquid tags; feels quite nasty to me. Anything that is encapsulating might as well regress back to HTML!

I'm going to lean toward RedCarpet as the default since it also supports native table of contents generation, but I will provide  the ability to swap out parsers. Although I don't think I'll do it as a config setting because the result is a little too c

[2012-05-10 20:22] cboettig commented on #1
Word.

I agree that the modular approach you describe sounds more sensible than
the hardwired configuration file.

On Thu, May 10, 2012 at 1:18 PM, Jade <
reply@reply.github.com

##

Carl Boettiger
UC Davis
http://www.carlboettiger.info/

[2012-05-11 19:17] rlemon opened #24 "kramdown is not installed with ruhoh"
The documentation says `maruku` is used for markdown parsing but the newest version uses kramdown. However the GEM file still installs maruku.  Please update the GEM file to install the correct dependencies..  also http://ruhoh.com/usage/ is horribly out of date. broken links and wrong information.

[2012-05-11 21:39] plusjade commented on #24
Thanks, for some reason it's expecting kramdown. I know I'm working on this in my dev branches but seriously cannot find where its called in the master branch!?

Quick fix would be to install kramdown just to get it running:

[code]

I should push out 0.2.2 soon and try to fix this.

[2012-05-13 09:05] plusjade commented on #24
I've switched to redcarpet in version 0.3.0. This issue should be resolved by upgrading:

[code]

Notes for v0.3.0 release: http://ruhoh.com/blog/releases/version-030/

[2012-05-13 09:06] plusjade commented on #17
@davejlong just released plugin architecture in version 0.3.0, please let me know your feedback!

http://ruhoh.com/blog/releases/version-030/

[2012-05-13 09:10] plusjade commented on #1
@CrazyApi @saLOUt @cboettig version 0.3.0 now supports plugins, which can be used to re-implement the markdown converter.

http://ruhoh.com/blog/releases/version-030/

Please see specifically: http://ruhoh.com/usage/plugins/#toc_4

Thanks for all your guys' feedback. I went with redcarpet as the default because of the fenced-code-block support, but switching to kramdown is now very easy.

[2012-05-13 09:21] plusjade commented on #4
I'm going to close this because I have not being able to reproduce it on my osx lion and ubuntu 10.4. That's not to say it's not a problem, but I have no way to troubleshoot the issue. If more users experience the problem, we'll get some more tickets.

Oh, p.s. now I know why it took me so long to reply. It looks like you are runing ruby 1.8. ruhoh does not officially support 1.8

[2012-05-13 09:21] #4 closed, assigned to nobody

[2012-05-13 09:24] plusjade commented on #7
Just to update this thread, we can probably start supporting minification at the compiler level using custom **compiler methods**.  which is new in version 0.3.0. See http://ruhoh.com/usage/plugins/ for compiler method documentation.

[2012-05-14 12:14] rlemon commented on #24
Cool, I installed kramdown before I posted the issue so i'm good for using this. however i did think it would be nice for you to know :P thanks. keep up the good work! (PHP or Python port any time soon?)

[2012-05-14 12:25] plusjade commented on #24
I want/need to get the API stabilized in order to start porting. One of my goals is to be able to port this already because that means I'd have an excuse and a project to learn more languages. However it's already a bit difficult to iterate fast because I have to make sure to properly version, document, and not break anything too bad. So I'd imagine multiple projects in different languages would j

[2012-05-14 12:29] rlemon commented on #24
TBH i'm still just 'playing' with it trying to figure out how you have this all working (I don't know Ruby so it's an adventure). Python would obvious first choice for another port (PHP is fast and easy, but only because of the MASSIVE amount of community resources IMO). Python just seems like something a bit more in tuned to generating a static site (don't ask me why, I just think that :P ).

now

[2012-05-14 12:33] plusjade commented on #24
cool that's definitely what I need! I started with PHP so I know the syntax and language, but I'm far too removed from it now to do anything efficient. Some insight into current practices and libraries would definitely help me. I'll be pinging you when the time comes!

[2012-05-15 08:24] orva commented on #17
Plugins might have gem dependencies, automating bundler calls for plugin subdirs would be nice.

[2012-05-15 09:11] plusjade commented on #17
@orva good idea but I'm not familiar with how to implement your suggestion. Can you give me an example?

[2012-05-15 21:00] rriemann commented on #17
I think that [chiliproject](http://github.com/chiliproject/chiliproject) does something like this (or maybe rails in general).

Plug-Ins are saved in rails_root/vendor/plugins.

Example plugin which adds additional dependencies for bundler: http://github.com/ericpaulbishop/redmine_git_hosting

It would be cool to handle all these dependencies with bundler!

[2012-05-15 21:12] rriemann commented on #14
To answer your last question on http://ruhoh.com/usage/plugins/#toc_5

Of course there is a need for rss of each blogging system!

[2012-05-15 21:20] rriemann commented on #17
The question was: Accept additional dependencies (nokogiri) for additional (core?) features (rss)?

When starting using ruhoh I don't want to pull a lot of custom code into my project. On the other side I like the Idea of not having a lot of dependencies.

So I suggest to create a bundle of additional gems like ruhoh-plugin-rss, which would have to be mentioned in the Gemfile and loaded automatica

[2012-05-15 21:25] rriemann commented on #17
http://github.com/middleman/middleman is going to support http://github.com/sstephenson/sprockets for asset preprocessing in the next release. It would be nice to have such a support, too.

[2012-05-16 22:05] #24 closed, assigned to nobody

[2012-05-16 22:07] #1 closed, assigned to nobody

[2012-05-16 23:53] LiquidMark commented on #22
I'm getting a 404 on LiquidMark.ruhoh.com

I followed instructions:

<pre>
  git clone git://github.com/ruhoh/blog.git LiquidMark.ruhoh.com
  cd LiquidMark.ruhoh.com
  git remote set-url origin git@github.com:LiquidMark/LiquidMark.ruhoh.com.git
  git push origin master
</pre>

No clue why it doesn't work -- all I get is the 404 not found

[2012-05-16 23:54] LiquidMark opened #25 "404 Error"
I'm getting a 404 on LiquidMark.ruhoh.com

I followed instructions:

<pre>
  git clone git://github.com/ruhoh/blog.git LiquidMark.ruhoh.com
  cd LiquidMark.ruhoh.com
  git remote set-url origin git@github.com:LiquidMark/LiquidMark.ruhoh.com.git
  git push origin master
</pre>

No clue why it doesn't work -- all I get is the 404 not found

[2012-05-17 00:29] plusjade commented on #22
@LiquidMark have you enabled a webhook on GitHub's end? The web-hook must post to:

[code]

**HOW TO:** Go to your [LiquidMark.ruhoh.com](https://github.com/LiquidMark/LiquidMark.ruhoh.com) repository page on GitHub, then follow these instructions: http://help.github.com/post-receive-hooks/

After you do this, you can click on the TEST HOOK button to send the hook to post.ruhoh.com service.  The h

[2012-05-17 00:33] plusjade commented on #25
@LiquidMark have you enabled a webhook on GitHub's end? The web-hook must post to:

[code]

**HOW TO:** Go to your [LiquidMark.ruhoh.com](https://github.com/LiquidMark/LiquidMark.ruhoh.com) repository page on GitHub, then follow these instructions: http://help.github.com/post-receive-hooks/

After you do this, you can click on the TEST HOOK button to send the hook to post.ruhoh.com service.  The h

[2012-05-17 06:25] plusjade commented on #25
@LiquidMark, I see you got the POSTing working. There was also another issue with capitalized letters in GitHub user names. I've pushed a fix and this problem should be fine now. You can use the service as described, thanks!
Logs are looking healthy: http://liquidmark.ruhoh.com/log.txt

[2012-05-17 08:20] plusjade commented on #21
Discussion is officially moved to a post.ruhoh.com [issue](https://github.com/ruhoh/post.ruhoh.com/issues/2)

[2012-05-17 08:20] #21 closed, assigned to nobody

[2012-05-17 08:43] plusjade commented on #13
@zx1986  Hey man, I'm an ass. It's been a month since I even bothered to reply. All I can say is I was having multiple problems with the post.ruhoh.com hook so couldn't really tell you what was the problem =(

But! if you are still there, I have fixed all the (known) issues and am happy to report your blog is up and running: http://zx1986.ruhoh.com/  I just tested a POST hook and all is well.

Tha

[2012-05-17 08:45] plusjade commented on #14
RSS will be officially added into the gem =)

[2012-05-17 08:50] plusjade opened #26 "Automatic gem dependency resolution for plugins"
### Plugins may require additional gem dependencies which should be resolved intelligently via something like bundler.

See previous discussion on the topic here: https://github.com/ruhoh/ruhoh.rb/issues/17#issuecomment-5710832

[2012-05-17 08:51] plusjade commented on #17
Closing plugin issue, moving gem dependency discussion here: https://github.com/ruhoh/ruhoh.rb/issues/26

[2012-05-17 08:51] #17 closed, assigned to nobody

[2012-05-17 09:10] plusjade opened #27 "Omit all meta-data requirements for posts and pages"
### Users should be able to completely omit all YAML meta-data.
#### Why

Allows for truly write-first workflow. Idea came to me when a user was pushing posts to ruhoh.com without running ruhoh gem locally. In this case he has no idea how a post should be formatted since he has no access to the ruhoh command-line client.  The client is not necessary if you push to a service.
#### How

The only **r

[2012-05-17 13:12] LiquidMark commented on #25
Jade,

Thank you for your help!

-Mark Molloy

On Thu, May 17, 2012 at 1:25 AM, Jade <
reply@reply.github.com

##
- Mark Molloy
  (641)218-8265

[2012-05-17 17:46] plusjade commented on #25
No problem. Please continue to offer usage feedback, thanks!

[2012-05-17 17:46] #25 closed, assigned to nobody

[2012-05-18 19:53] thefotios opened #28 "Add support for n recent posts with summary"
Maybe somebody has a working version of this, but I couldn't get it working just yet. I think my problem may simply be accessing the content of a post from another page. Is this even possible?

But the idea would be to have a partial for showing a number of recent posts and short summaries. This could be used as an index page or for a specific category. It would also include a link to the full pat

[2012-05-18 21:12] plusjade commented on #28
@fotioslindiakos this functionality will be natively supported in a future release. Until then you can use this plugin:

https://gist.github.com/2705778

However there is still the problem of the `content` attribute. ruhoh does not actually store the content body of every page/post, it only stores the content for the _current_ page. Since the id is essentially a pointer to the filename, whenever w

[2012-05-18 21:19] thefotios commented on #28
Ya, I am using that plugin, and it's working fine.

My main problem is getting the content, maybe there could be a `post_with_content` helper that gets the content too. So we could do something like

[code]

[2012-05-18 21:28] plusjade commented on #28
I'm pretty sure I can get it to where mustache will just lazy load the content. In other words `content` won't be attached to the page objects as a literal key/value but rather it will be a function call that will fetch the content from the file. This requires that all page objects are presented within their own mustache views though -- these problems all being internal, so you don't have to worry

[2012-05-20 09:22] afknapping opened #29 "theme standards"
maybe standardize the file-/folderstructure of themes, too, including a folder for `abstractions`, `src` or anything similar for [haml/sass/coffeescript/etc](https://github.com/ruhoh/ruhoh.rb/wiki/using-haml,-sass-and-coffeescript)?

while `layouts` is a descriptive name for the content, `css` and `js` describe the syntax used. i would prefer consistency, having `stylesheets`, `scripts`, `layouts`

[2012-05-20 09:25] afknapping commented on #29
ps: after two years of using the abandoned toto, you really hit a nerve with this. ruhoh basically adresses all the issues that came up during the time. awesome!

[2012-05-20 09:31] plusjade commented on #29
You know, I never really processed that as a _difference_ (syntax vs role). This is an excellent point and will indeed add this into the next release. FWIW in 0.4.0 I'm breaking `_templates` directory structure entirely.

The new structure will look like this (with your edits)

[code]

Basically I didn't like the deep nesting that exists in the current `_templates` folder. So now we have most thin

[2012-05-20 09:42] plusjade commented on #29
@filtercake re: your P.S. Thanks! I put more thought into this than you would ever think possible for a static blogging engine =)

As you can see the community is quite small right now, haven't done any marketing -- I'm more concerned with stabilizing the API before rolling out features and cool integrations like s3, dropbox and of course support for other languages. The point being, your feedback

[2012-05-20 11:23] afknapping commented on #29
i would say that is exactly the way to go :)

i agree that the `_templates`-folder is a bit messy right now, but having a `_themes`-folder does make sense (as does a `_plugins`-folder, etc.). having several themes in the root directory and needing to add "-theme" to each folder feels somewhat dirty.

besides that the new structure within the theme looks great to me.

i do miss the `_drafts`-folder

[2012-05-20 13:20] afknapping opened #30 "Asset Management"
now that there are "assets" and conventions on how the assets are to be placed within themes etc, i'd just like to throw in that the idea of the asset pipeline in general makes total sense to me. depending on how it is implemented, it could solve two problems at once:
1. "use any templating syntax for input you want" (eases development)
2. "have assets packed, minified and fingerprinted at deploym

[2012-05-20 20:06] lynnfaraday commented on #27
+1 for the idea.  FYI - I've had rough experiences with file create date, especially if you move things from one computer to another, or across OS's, etc.

[2012-05-21 04:48] plusjade commented on #30
@filtercake

### Asset Management

I think something like sprockets is a great addition which I expect to add in as an optimized user experience. I'm not too familiar with how it specifically works (haven't looked into it) but I'm assuming I would add it in as an officially supported plugin. There should be an asset packager available to all languages, with the API just being the file extensions s

[2012-05-21 07:52] afknapping commented on #30
ah, thanks for taking the time to write that up.

so what i really meant was "use any _converter_ language you want" – i got that part with moustache and that should of course stay the way it is. if you don't mind, i will throw some word definitions in the wiki sometime.

totally agree on the documention part. i don't need long, well-formulated, haha-funny texts – i often miss short and simple  li

[2012-05-21 22:36] #13 closed, assigned to nobody

[2012-05-23 13:45] thefotios commented on #28
Where are these templates defined? Maybe I can take a crack at implementing them.

[2012-05-23 16:21] tkellen commented on #30
Please don't use sprockets.  Use rake-pipeline.

[2012-05-23 19:35] plusjade commented on #30
@tkellen can you give a quick pro/con argument and also verify that you are talking about this [rake-pipeline](https://github.com/livingsocial/rake-pipeline)

[2012-05-23 20:56] plusjade commented on #28
@fotioslindiakos I'm not sure what you are asking. What are you referring to when you say "templates" ? - Thanks.

[2012-05-23 21:06] thefotios commented on #28
Guess I didn't use the correct term. I'm trying to see where `content` is defined, whether it's a variable somewhere or a function or what. That way I can see how this thing works and try to help out.

[2012-05-23 21:33] timmie opened #31 "nightly sphinx docs?"
Many python projects but also others use Sphinx for documentation.

Could this software be used to also update docs on nightly basis?

Docs are a integral part of software project websites.

[2012-05-23 22:03] plusjade commented on #31
@timmie many people have pointed me toward the awesomeness of sphinx for inspiration. I plan to take a serious look into sphinx after I release ruhoh 1.0.0

As of now I understand sphinx to parse a codebase, extract comments, documentation etc, and output a website. Is this the primary use case, or do users typically build blogs, websites from sphinx?

Can you walk me through a specific use case?

[2012-05-23 22:24] timmie commented on #31
code:
https://github.com/pydata/pandas/tree/master/doc/source

website:
http://pandas.pydata.org/pandas-docs/stable/index.html

But more to that, it can use docstrings in such to build API and function, lcass docs automatically.

[2012-05-23 22:24] timmie commented on #31
code:
https://github.com/pydata/pandas/tree/master/doc/source

website:
http://pandas.pydata.org/pandas-docs/stable/index.html

But more to that, it can use docstrings in such to build API and function, lcass docs automatically.

[2012-05-24 01:54] lynnfaraday commented on #28
Currently there is no way to get at {{content}} for a post - that's part of what needs to be developed (per the 'lazy load/view' stuff plusjade was talking about earlier).

[2012-05-24 14:37] rlemon opened #32 "List multiple posts on the same view."
I'm sorry if this is not really the medium for this question; however I have been playing with the API and i'm trying to list multiple posts or pages (layouts) on the same view...

Like, how (if possible) to move the entire layout for a post or page into a partial. Does this require some finagling with the rb source? or can this be achieved with a helper? Sorry I don't really know to much about Ru

[2012-05-24 21:51] plusjade commented on #32
@rlemon when you say:

Can you give me a more concrete example? Are you trying to implement a kind of "blog index page" where it lists the latest n number of posts then displays either a summary with link to "more" or the entire post content itself?

Ideally you should be able to this by simply copy and paste, but I realize now that all layouts make use of the special variable: `{{ content }}` to

[2012-05-25 14:21] tkellen commented on #30
Rake-pipeline is fast.  It saves deltas for each step in the asset compilation process and can recompile from any point when a file changes, making it extremely fast.  Sprockets isn't that smart, it recompiles the entire asset pipeline any time something changes.  Making matters worse, it is slow too (one benchmark: https://github.com/mislav/sprockets-perf).  Think several seconds to reload a page

[2012-05-28 01:27] plusjade commented on #30
@tkellen, @filtercake @ben-biddington, @rlemon, @davejlong after taking a look it does seem like rake-pipeline is better suited for ruhoh's "universal" approach if you will. I like the idea of a separate configuration file rather than inline comments as well. I'm curious to know why rails went with sprockets.

Primarily ruhoh needs to control the asset-pipeline as you say. Rather than have themes

[2012-05-28 04:45] lynnfaraday opened #33 "How to access HTML parameters (for pagination)?"
Sorry if this is a noob-ish question.  When you're in one of the Helpers, how do you get at the HTML parameters for a ruhoh page, like query parameters and cookies?  They don't seem to be in self.context or in a 'params' variable like a standard rails controller -- unless I'm missing something.

Edit: Changing title to aid in future searches.

[2012-05-28 05:19] plusjade commented on #33
@lynnfaraday there are no session cookies or parameters. Ruhoh is meant to compile to a static website when in production. May I ask what you are trying to accomplish so that I can give some input on whether or not it's possible and how to do it.

[2012-05-28 05:45] lynnfaraday commented on #33
I was fiddling around with the recent posts view described in issue #28.  I got it to where index.html can show the most recent N posts, but now I'm trying to extend it to have (prev N) (next N) buttons and was exploring ways to go about doing that.

I forgot for a moment that it all gets compiled... testing everything with rackup makes it feel more dynamic than it really is, I guess.  :)

I don't

[2012-05-28 06:31] plusjade commented on #33
@lynnfaraday pagination is a good idea. Jekyll does add custom functionality to specifically support pagination https://github.com/mojombo/jekyll/wiki/Pagination

Off the top of my head you'd probably want to create a custom mustache method specifically for pagination. Each page batch can be set in the config file, so you won't have to pass it via the method as you do with `posts_limit_5`. As jeky

[2012-05-29 06:08] dph01 commented on #32
Hi  - I have the same requirement (if I understand rlemon's question correctly).

I'm looking to migrate my current blog from Posterous (http://tech.damianhelme.com). I'm trying to recreate in Ruhoh my Posterous home page that shows the complete text for the last n posts. Each post has a click through to go to the comments section. Well, Posterous actually expands the comments inline, but I'd be h

[2012-05-29 06:20] plusjade commented on #32
@dph01 I currently have this feature working in my [development branch](https://github.com/ruhoh/ruhoh.rb/tree/0.4.0)
The new release is still about a week away since I have to add tests and documentation and there are many breaking changes as well. I'll get some docs up on how to run the current version in development for those interested.

Until then you can look forward to the logical way to ac

[2012-05-29 06:45] dph01 opened #34 "Custom permalink on a per-post basis?"
Hi,

I'm guessing this feature isn't already in there, but might be useful for others in the future.

I'm migrating my blog from Posterous to Ruhoh and I'd like to keep the same permalinks. Unfortunately, a couple of the permalinks that Posterous has created seem to be a bit random (like based on a truncated post title), so there's no way that I can configure a site wide permalink convention in Ru

[2012-05-29 07:09] dph01 commented on #32
great - looking forward to the release!

seems fine so far. Not really had to do much other than understand the default templates/layouts etc and all seems pretty clear. I'll give you more feedback if things change as I get my hands dirtier.

[2012-05-29 08:29] plusjade commented on #34
I agree, another member here had the same troubles when migrating from WordPress. It's hard to get the URL's exactly alike so there needs to be more fine-grained control. I'll plan to add manual overrides on a per page basis. The more extensible approach though, would be the ability to overload the way the permalinks are generated in the first place. That way you can create a function that matches

[2012-05-29 17:34] lynnfaraday commented on #32
@plusjade - Thanks for implementing this.   To answer your question since I am also new to mustache: I found the examples on your page very easy, but extending it to add new template items in plugins was pretty confusing - especially the "_limit_5" type of syntax of passing arguments.  But now that I understand it, it seems pretty cool.

[2012-05-29 17:40] lynnfaraday commented on #27
@plusjade : Two ideas kind of in the same vein:
- Is it possible that the ruhoh command tool can let you assign the title when you create the draft?
- Is it really so bad to have the date in the title as well?  I believe Jekyll did this.  I assume there was some reason for changing it but I found it convenient to be able to browse posts by date on my local drive.

[2012-05-29 20:01] plusjade commented on #27
@lynnfaraday
- Yes I am re-adding in optional title passing in the next release.
- Dates in the filename are now _optional_. So you can still specify them manually and they will work like before, but there is no longer an automated way to do this. The reason I took it out is to remove friction from publishing. The software should not require such stringent inputs from the _user_ -- publishing shou

[2012-05-29 20:06] plusjade commented on #32
@lynnfaraday - since you mentioned you were new to ruby, just to be clear the `posts_limit_5` syntax is a hack that relies on the `method_missing` call. In other words it's not a standard way to do something in ruby, rather it's working in the constraints of how mustache works. In mustache there is no concept of argument passing, so we have to hack the method call to include the arguments in the m

[2012-05-30 01:57] lynnfaraday commented on #32
@plusjade - Good to know, thanks!   Though since you mentioned wanting to support a whole bunch of languages in the API, will this be extensible to them?   Is there some other template language that supports arguments more readily?

[2012-05-30 03:57] plusjade commented on #32
@lynnfaraday mustache was choosen for ruhoh because it has already been implemented in a variety of other languages: http://mustache.github.com/.  Traditionally, the most popular templating languages are nothing more than embedded code. Think PHP where your documents can jump in and out of PHP as needed. The reasoning behind mustache is to completely do away with this kind of templating; reason be

[2012-05-30 04:59] lynnfaraday commented on #32
@plusjade - Fair enough.  I guess I'm just biased since the two extensions I've tried to make so far have both required arguments :)   It does seem like a nice language apart from that.

[2012-05-30 05:55] alxjrvs opened #35 "Drafts appearing in Archive list"
Hello - unless i am misunderstanding this functionality, the "Archive" page of the site, lists all posts, wether or not they are listed as drafts. It is my expected functionality that any line featuring the "type: draft" line in the head of the file would not be included in this list.

[2012-05-30 06:14] plusjade commented on #35
@alxjrvs can you confirm this on your [compiled](http://ruhoh.com/usage/publish/#toc_8) site?

When running locally (in development), all drafts work as if they were published, as a convenience, so you can see all their tags, categories, urls, meta-data etc.

[2012-05-30 11:59] alxjrvs commented on #35
Yup - see, for instance, the difference between [this file](https://github.com/alxjrvs/alxjrvs.ruhoh.com/blob/master/_posts/untitled-0.md) and [this page](http://alxjrvs.ruhoh.com/archive.html) .

[2012-05-30 12:16] plusjade commented on #35
good catch. I investigated this on my development branch and see the
error.  ruhoh uses an env flag that gets set to production when compiling.
but I changed the compile script to and its setting the environment _after_
parsing the posts into the database =x

I might push a hotfix for this but id prefer to push my next release in the
next couple of days if I can.  I can paste a rakefile script tha

[2012-05-30 14:47] alxjrvs commented on #35
That'd be appreciated!

[2012-05-30 18:28] plusjade commented on #35
@alxjrvs: Create a file named `Rakefile` in the root of your blog, with this content:

[code]

Now run:

[code]

Optionally specify a compile path:

[code]

This fix sets the environment _before_ updating the database.

[2012-05-30 22:47] alxjrvs commented on #35
Awesome. Will this work when git pushing to *.ruhoh.com, or will it only effect the local compiled site?

[2012-05-30 22:53] plusjade commented on #35
@alxjrvs I just pushed the update so it should work at *.ruhoh.com now. Thanks for reporting this! Feel free to email personally with your usage feedback as well.

EDIT: just test-deployed your blog. Drafts are now properly omitted =)

[2012-05-30 23:13] alxjrvs commented on #35
@plusjade Awesome. Happy to be of help - I absolutely will. I am very interested in ruhoh, let me know if you need any help generating use cases or documentation. Marking as closed.

[2012-05-30 23:13] #35 closed, assigned to nobody

[2012-05-30 23:54] davejlong opened #36 "URL Reserved Characted in Page Titles Causes Errors"
If you have URL reserved characters like the question mark (?) in the title of a post, an error is generated by most browsers when you push the compiled site to a server. Running `ruhoh titleize` gives proper titles for the files, but `ruhoh compile` builds poor URLs.

An example can be found at http://davejlong.ruhoh.com in the "IDE or Text Editor?" post.

[2012-05-31 00:51] plusjade commented on #36
@davejlong: Ah yes, the url generation is turning out to be quite problematic. Other users have expressed frustration with not being able to cleanly import WordPress and other blog software posts because of the differences in URL formats.

I haphazardly ported over Jekyl's URL formatting logic but I see now that we want to make the URL module as extensible as possible to allow for truly fine grain

[2012-05-31 09:47] #34 closed, assigned to nobody

[2012-06-01 05:26] alxjrvs commented on #32
@plusjade the "{{{ content }}}" escape may be something you want to include in documentation - I just had written something similar to this ( forgive me if I get a small piece of syntax wrong, the idea is that I am iterating over a block):

 {{ # posts }}
  {{ title }}
  {{ content }}
 {{ / posts }}

Which, as I learned, spits out the unescaped html. the {{{ content }}} escape works fine, but I ha

[2012-06-01 05:30] plusjade commented on #32
@alxjrvs thanks for documenting this, you are definitely right. The new version makes extensive use of the triple mustache tags just because a lot more functionality is going through mustache now. I'll make sure to clearly include this in the docs. BTW did you hack out the `{{{ content }}}` functionality yourself, or are you using/referencing the [0.4.0 development branch](https://github.com/ruhoh

[2012-06-01 05:35] jfinkels opened #37 "Ignore *~ temporary files when scanning for posts in _posts/"

[2012-06-01 05:37] alxjrvs commented on #32
@plusjade I don't believe that I am using the development branch, but it definitely is working on my end. Compare the homepage of [alxjrvs.ruhoh.com](http://alxjrvs.ruhoh.com/) to [my index page](https://github.com/alxjrvs/alxjrvs.ruhoh.com/blob/master/_pages/index.html).

[2012-06-01 05:48] jfinkels opened #38 "Add content of each post to db.posts.dictionary.<postname>.content"
Add the content of each post to the payload. This allows the user to create an `index.html` page which lists the content of each post, or perhaps just the first n characters of each post.

[2012-06-01 06:00] plusjade commented on #32
@alxjrvs ah good to know. I was initially very puzzled by how it was working since I hadn't designed it for that use case. It turns out that due to ruby's mutable objects (that is you can mutate an object at any time) if every post/page object has its "content" rendered, the rendered content will persist in the database.

For obvious reasons we don't want to depend on having previously rendered th

[2012-06-01 06:04] alxjrvs commented on #32
@plusjade great to hear. Looking forward to it.

[2012-06-01 11:58] lynnfaraday commented on #33
@plusjade : I have the building blocks for pagination working - a Paginator class (borrowed heavily from jekyll's version), a post_summary partial (since the summary view is a little different than the main page view), a recent_posts mustcache helper, and a test page that lets me test it:

[code]

I'm looking into the compiler portion now so it auto-generates the /posts/page/1.html pages.  I was t

[2012-06-01 13:21] lynnfaraday commented on #38
See issue #28, #32 and #33 which are all related.

[2012-06-02 10:46] plusjade commented on #37
@jfinkels: This is currently supported via the `exclude` parameter in `_config.yml`.  You can define a string that will get converted to a regular expression via `Regexp.new(str)`:

[code]

Here your string will get converted to `/~$/` via `Regexp.new(str)`. You can also optionally pass more than one regex via array.

One thing to note is that all posts filenames actually begin with `_posts/`. So

[2012-06-03 14:03] jasonm23 opened #39 "Not an issue, a suggestion for the usage guide."
Serving static HTML with ruby is pretty easy if you do..

[code]

Then get yourself in the `_compiled` folder, run..

[code]

Off you go to http://localhost:3000

[2012-06-04 03:06] vitorbaptista opened #40 "Posts with titles with special characters can't be found"
In my dreamhost server, I can't access posts with (). The special case is /, that is not escaped. So, for a title "Do something with /usr blah" becomes "do-something-with-/usr-blah" (2 folders)

I saw that the titles are escaped with CGI::escape. I would suggest to also remove those chars...

[2012-06-04 03:07] vitorbaptista commented on #40
P.S.: I'm using Ruhoh 0.3.0.

[2012-06-04 05:25] plusjade commented on #40
@vitorbaptista thanks for this report. I have extensively overhauled the way permalinks are generated in [v04.0](https://github.com/ruhoh/ruhoh.rb/commit/75a8a1e495558579bb033f572819f841955fe5af). As you suggest I'm just omitting all special characters and replacing spaces with dashes.

I expect to release the new version this week.

[2012-06-04 20:14] plusjade commented on #39
@jasonm23 thank you! I will test and verify this functionality and then add it into the main website.

[2012-06-04 22:02] mockturtl commented on #40
+1

[2012-06-05 07:20] pluskid commented on #7
Hoping to see this feature, too. Instead of using a compiler, maybe it's easier to use a custom converter. But it seems currently all Ruhoh converters only produce .html output. Hoping to see that the output extension/path of a converter could be customized.

[2012-06-05 07:30] plusjade commented on #7
@pluskid Jekyll uses converters to process asset files much like you describe. The problem in ruhoh, however, is that converters are exclusively used for processing _content_ based files. Specifically that means all files in the "posts" and "pages" folders.

In terms of assets: all assets should be packaged together with a theme so in order to run converters on the theme I'd need to specifically a

[2012-06-05 07:47] pluskid commented on #7
@plusjade thanks for your references. I have other similar tasks like SASS. For example, I have .dot files I would like to convert to .png files and .asy files convert to .svg files, etc. I think I should definitely look at rake-pipeline.

[2012-06-05 11:56] pluskid commented on #7
@plusjade now I used rake-pipeline to generate some contents into _compiled directory. But it seems those files are not available in the dev-mode rack server. Is there any way to enable viewing those files in local dev-mode server? Thanks!

Sorry for bothering, I figured it out with Rack::Static middleware (new to Rack). :p

[2012-06-05 12:57] pluskid opened #41 "Support chained template context helper"
Hi, I wish to see supports of chained context helper. The modification is provided below:

[code]

Why I'm requesting this feature is because I want to produce a comma separated list of tags. I have to write something like

[code]

and in my helper to_richlist add some helper fields like **first**, **last**, and then use those in template.

However, I think chained helper could also be helpful in

[2012-06-05 19:12] jfinkels commented on #37
Is this in the documentation on http://ruhoh.com? I couldn't find it.

[2012-06-05 19:16] plusjade commented on #37
@jfinkels no it is not =x. I push out features faster than I can document them. I have even omitted inline code documentation because the code changes too much.

Rest assured this haphazardness should only be temporary, once I get the API stabilized I'm going to spend a lot more time documenting everything properly so more people can help contribute and peer review.

P.S. This _is_ documented in t

[2012-06-05 19:19] jfinkels commented on #37
I understand. Keep up the good work!

[2012-06-06 00:12] plusjade commented on #40
@vitorbaptista, @mockturtl this should be fixed in [ruhoh v.1.0.0.alpha](http://ruhoh.com/blog/releases/version-1-0-0-alpha/). Rather than CGI escaping special characters we are omitting them. Let me know how it goes. Closes same issue #36

[2012-06-06 00:18] plusjade commented on #38
Page content [accessor](https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/page.rb#L77-80) and [mustache helper](https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/templaters/rmustache.rb#L36-40) added in [ruhoh v.1.0.0.alpha](http://ruhoh.com/blog/releases/version-1-0-0-alpha/).

Your specific use case is documented here: [posts_latest index](https://github.com/ruhoh/blog/blob/master/pa

[2012-06-06 00:23] plusjade commented on #37
[Post and page exclude settings now officially documented](http://ruhoh.com/usage/configure/) This works in [ruhoh v.1.0.0.alpha](http://ruhoh.com/blog/releases/version-1-0-0-alpha/).

[2012-06-06 00:23] #37 closed, assigned to nobody

[2012-06-06 00:26] plusjade commented on #36
@davejlong this should be fixed in [ruhoh v.1.0.0.alpha](http://ruhoh.com/blog/releases/version-1-0-0-alpha/). Rather than CGI escaping special characters we are omitting them. Let me know how it goes. Closes same issue #40

[2012-06-06 00:26] #36 closed, assigned to nobody

[2012-06-06 00:35] plusjade commented on #28
Page content [accessor](https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/page.rb#L77-80) and [mustache helper](https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/templaters/rmustache.rb#L36-40) added in [ruhoh v.1.0.0.alpha](http://ruhoh.com/blog/releases/version-1-0-0-alpha/).

Your specific use case is documented here: [posts_latest index](https://github.com/ruhoh/blog/blob/master/pa

[2012-06-06 00:35] #28 closed, assigned to nobody

[2012-06-06 00:35] #38 closed, assigned to nobody

[2012-06-06 00:37] plusjade commented on #32
Page content [accessor](https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/page.rb#L77-80) and [mustache helper](https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/templaters/rmustache.rb#L36-40) added in [ruhoh v.1.0.0.alpha](http://ruhoh.com/blog/releases/version-1-0-0-alpha/).

Your specific use case is documented here: [posts_latest index](https://github.com/ruhoh/blog/blob/master/pa

[2012-06-06 00:37] #32 closed, assigned to nobody

[2012-06-06 00:38] plusjade commented on #14
RSS generator officially added to gem in [ruhoh v.1.0.0.alpha](http://ruhoh.com/blog/releases/version-1-0-0-alpha/).

[2012-06-06 00:38] #14 closed, assigned to nobody

[2012-06-06 00:40] plusjade commented on #16
@theaob it took a while but [ruhoh v.1.0.0.alpha](http://ruhoh.com/blog/releases/version-1-0-0-alpha/) should support international characters now. Let me know if this solves the problem.

[2012-06-06 00:43] plusjade commented on #27
https://github.com/ruhoh/ruhoh.rb/commit/028587832aef23883d848b0b902cc4846af7ea63 provides automatic global layout defaults to posts and pages. Dates are still required for the time being.

[2012-06-06 00:43] #27 closed, assigned to nobody

[2012-06-06 00:44] #40 closed, assigned to nobody

[2012-06-06 02:06] mockturtl commented on #40
Fix confirmed.

[2012-06-06 11:02] dph01 commented on #32
fantastic - thanks for that, looks to be working well!

I see you've marked it as an 'alpha' release. Is there anything you know of that would prevent me from putting my site live with this version?

Thanks again

Damian

[2012-06-06 15:45] dph01 commented on #34
thanks for adding the feature - it's working well!

[2012-06-06 15:49] dph01 commented on #15
now that you can create custom permalinks (https://github.com/ruhoh/ruhoh.rb/issues/34), is there still a need for creating redirects?

[2012-06-06 15:59] dph01 opened #42 "mapping a subdomain to my ruhoh.com site"
Hi Jade,
I'm wanting to use a CNAME record to point a subdomain (tech.damianhelme.com) my ruhoh site (dph01.ruhoh.com). Is there such a facility in ruhoh to handle this (I've tried and it doesn't work so far).
Thanks
Damian.

[2012-06-06 16:31] dph01 opened #43 "Make a post / page private"
Is there any way to make a post or page private (and just shared with a targeted audience by emailing a link)?

[2012-06-06 19:35] frolic commented on #15
Can pages have multiple permalinks? What do you advise for a site that needs to change its permalink structure and still maintain the old permalinks as 301 redirects to the new permalinks?

[2012-06-08 06:11] plusjade commented on #32
@dph01 I consider the release production ready. The reason I marked it alpha is just because I want to vet the major features and additions. I don't have a lot of test coverage so there might be some bugs etc that I wasn't able to catch.

Overall I consider 1.0.0 a significant milestone so just wanted to take a while to do some due diligence _in the wild_. But the fact that it's still 1.0.x.x mean

[2012-06-08 06:14] plusjade commented on #42
Yes, this is a planned feature and one I will be working on next week! https://github.com/ruhoh/post.ruhoh.com/issues/1 I'll make sure to ping you when it's ready.

[2012-06-08 06:40] plusjade commented on #43
@dph01 do you mean _truly private_ or just obfuscated? If the former, the most obvious thing to do would be basic http authentication which would be enabled on the web-server level. If using *.ruhoh.com hosting service I'd imagine this would be possible to handle, I'd have to get some feedback on the feature request though.

If the latter, this would be an interesting use-case for a custom plugin.

[2012-06-08 09:03] dph01 commented on #43
I guess I'm thinking of the latter.

I'm wanting to duplicate the Posterous feature where there's a 'Make this
post private' tickbox against each post. It says:
_"Private posts will not show up on your Posterous page or RSS feed._ _You
can share these posts with a select group of people by sending them the
direct url."_

On Fri, Jun 8, 2012 at 7:40 AM, Jade <
reply@reply.github.com

[2012-06-08 09:04] dph01 commented on #42
great - that's the last thing I need before I can put my site live.

On Fri, Jun 8, 2012 at 7:14 AM, Jade <
reply@reply.github.com

[2012-06-08 09:05] dph01 commented on #32
great thanks. It seems to be working well for me.

On Fri, Jun 8, 2012 at 7:11 AM, Jade <
reply@reply.github.com

[2012-06-08 10:42] dph01 opened #44 "Prettify not formatting Scala properly"
Prettify doesn't seem to be apply the correct formatting to my Scala code.

I tried specifying the language explicitly with `<pre class="pretty-print lang-scala">`, but that didn't make a difference.

Here's an example of the problem: http://dph01.ruhoh.com/codetest/ . Not sure what style it's applying, but on Line 3, it's treating everything after the # as a comment.

Anyone else had this problem

[2012-06-09 03:02] plusjade commented on #44
Google prettify does document Scala support: http://code.google.com/p/google-code-prettify/source/browse/trunk/src/lang-scala.js so the problem seems to be in the implementation. I'll give this a deeper look as my time permits.

[2012-06-09 06:25] dph01 commented on #44
Great thanks. It wouldn't stop me from putting the site live, so not
super-urgent.

On Sat, Jun 9, 2012 at 4:02 AM, Jade <
reply@reply.github.com

[2012-06-14 11:57] rlemon commented on #32
Sorry Diablo 3... been busy... :P I'll look into the changes you've made and comment :P

[2012-06-18 18:39] jergason opened #45 "Post (and other) urls without trailing slashes?"
Is there a way to generate posts without trailing slashes? Right now each post seems to compile down to a directory containing an index.html file.

I changed the posts permalink in the `config.yml` file to remove the trailing slash and it now looks like this:

[code]

I created a post with `ruhoh post durp`.

However, when I run `ruhoh compile`, the `compiled` directory structure looks like this:

[2012-06-18 18:48] jergason commented on #45
After looking through the code, it seems like the `Page#compiled_path` method defaults to adding an `index.html` to the end of the path if it doesn't end in a `.whatever`:

[code]

This is not the behavior I would expect, and seems like something I would want to optionally turn on in configuration. Is there a reason for this behavior? If not, I will work on a pull request to make it configurable.

[2012-06-18 19:16] jergason commented on #45
So it looks like the browser tries to download files if they don't end with `.html`. Any ideas on how to solve this?

[2012-06-18 19:50] plusjade commented on #45
@jergason I'll take a more in depth look at this later today but at first glance I'm pretty sure this falls under the web-server functionality. In order to use those "clean" urls a static web server needs to serve the root index file of the directory. I'm assuming trailing slashes are required to denote the path as a path to a directory.

To not serve from a directory you can alternatively specify

[2012-06-19 01:10] jergason commented on #45
Here is [my blog](https://github.com/jergason/blog.git) in a proto-state, still in the midst of a transfer out of Tumblr. It sounds like you are right, that it is a server configuration issue, but maybe there is some workaround.

[2012-06-19 06:33] jergason opened #46 "Guide to creating widgets?"
Is there a guide to creating widgets? I can't really find anything, and the default github repo that you clone seems to only have config files in the `widgets` directory.

[2012-06-19 09:20] plusjade commented on #46
@jergason, there is no official guide yet, sorry.  However there is a lot of content on how widgets work in general here: http://ruhoh.com/usage/widgets/

The main premise is that widgets allow you to bundle HTML, javascripts, stylesheets, and configuration together as a _widget_. You'd want to do this so you can separate external website-ish functionality from your core content. Also it's a nice

[2012-06-19 14:09] jergason commented on #46
Awesome, thanks. I think I'll try to put one together this week sometime.

Sent from my iPhone

On Jun 19, 2012, at 3:20, Jadereply@reply.github.com wrote:

[2012-06-20 11:51] #16 closed, assigned to nobody

[2012-06-20 22:00] Meroje commented on #7
Could you please explain how you solved adding custom generated files to the rack mode ?

[2012-06-21 02:58] pluskid commented on #7
@Meroje,
by using Rack::Static, add this (change for your own situation) to config.ru

[code]

[2012-06-21 11:18] ikbear opened #47 "Got error when install ruhoh"
When install ruhoh, it installs psych, but got this error:

/Users/helishi/.rvm/rubies/ruby-1.9.3-p125/lib/ruby/1.9.1/x86_64-darwin11.3.0/psych.bundle: warning: already initialized constant ANY
/Users/helishi/.rvm/rubies/ruby-1.9.3-p125/lib/ruby/1.9.1/x86_64-darwin11.3.0/psych.bundle: warning: already initialized constant UTF8
/Users/helishi/.rvm/rubies/ruby-1.9.3-p125/lib/ruby/1.9.1/x86_64-darwin

[2012-06-21 12:25] thefotios commented on #28
I forgot to say thank you for this feature! Your example is exactly what I was looking for.

[2012-06-21 18:42] Meroje commented on #7
So no on the fly compilation for these files ?

[2012-06-21 22:58] plusjade commented on #28
@fotioslindiakos no problem, please keep the feedback coming. Thanks!

[2012-06-22 00:52] jergason commented on #47
Have you tried it in a new RVM gemset?

[code]

[2012-06-22 01:24] pluskid commented on #7
@Meroje,
I do not need to modify those files frequently, so I use rake to compile them manually. I also added a compiler-task plugin to execute rake, so then re-compiling the site, they will be automatically compiled.

[2012-06-22 14:16] Meroje commented on #7
At least I can check these files locally, thank you !

[2012-06-28 11:32] lynnfaraday opened #49 "Custom Comment Tutorial is Misleading"
I like the new widget structure.  I'm just having a little bit of trouble getting it to work with a custom comments widget.

It seems to be loading the javascript from an unexpected place:

My comments config.yml:

[code]

This results in the following javascript in the source:

[code]

Is it supposed to be under assets?  I was expecting it to be in widgets/javascripts/comments.  Am I missing some

[2012-06-28 17:11] aussetg opened #50 "Livefyre widget doesn't work"
Using Livefyre doesn't work.

2 problems :
Ruho doesn't seem to include the site_name in the source code.
( Disqus , which work uses the  {{ config.disqus.short_name }} syntax while livefyre uses {{ config.comments.livefyre.site_id }}  )

Even then when manually entering the site_id in the code Livefyre doesn't load.

[2012-06-28 17:15] aussetg opened #51 "Request : Add a CDN option"
Would it be possible to ask Ruhoh to generate all links relative to a new config variable ( site_cdn ) so that all files except .html files are served from site_cdn ?

Thanks

[2012-07-01 17:00] vitorbaptista commented on #40
Thanks! The problem related here doesn't happen anymore, but there's still another one.

As ruhoh doesn't remove the accented characters from the pages URLs, it creates some weird stuff, like www.my-domain.com/diret%C3%B3rio-usr.

I looked quickly at the code, and the fix didn't seemed obvious to me. Mostly because it looks like we're relying that the conversion from title to slug is reversible, w

[2012-07-03 19:59] lynnfaraday commented on #49
I figured out the include path, but the tutorial comments are still legit so I'm leaving the issue open and updating the title.

[2012-07-03 20:09] plusjade commented on #49
@lynnfaraday hey thanks for the help. Sorry I haven't been updating, but I'm still around. I just started a new job last week so once I settle in I'll be back updating ruhoh! I'll update this thread as soon as I can. Thanks

[2012-07-03 20:29] lynnfaraday commented on #49
I understand!  Good luck with the new job :)

[2012-07-04 06:23] lynnfaraday opened #52 "Widgets can't access page data?"
I'm trying to make a custom comments widget that would use the current page url.   In the previous version I could just do {{url}} in the custom_comments partial, but it seems that doesn't work in 1.0.   The widget layout can access config data through {{config}} but not {{page}} or {{url}} or anything like that.

Am I missing something?   Thanks.

[2012-07-04 06:33] lynnfaraday opened #53 "Allow plugins to be more easily shared (like widgets)"
A suggestion: It would be nice if plugins could be more encapsulated, so they could be easily shared with others.

For instance, each plugin could have a directory structure like widgets:

[code]

Or something like that.

[2012-07-05 01:26] plusjade commented on #52
You're right, widgets only receive their config data and nothing else. I had originally planned to send in the global payload but it proved to be more difficult than I thought.

Ultimately I think including the global payload makes sense so it will get done -- I just wanted to ship the minimum viable product!

[2012-07-08 01:54] plusjade commented on #49
@lynnfaraday I've updated the docs in this [commit](https://github.com/ruhoh/ruhoh.com/commit/359d657b5985f41d3136e6a43433131ce7d14783)

Regarding the name `custom_comments.html` so you are right in that the default layout that will be loaded is the layout named exactly the same as the widget. However, in the case of the documentation we are explaining how to define a _custom layout_ rather than a

[2012-07-08 01:56] plusjade commented on #49
Oh also, regarding the asset path which loads the javascripts. You mentioned you figured it out, but just to go over it again, I am assuming you didn't realize that the paths are not literal paths that map to the directories. I'm using some basic routing that maps some urls to where I need them to go in the file system. `/assets/` becomes a reserved route that maps to both widget and theme based a

[2012-07-08 02:11] plusjade commented on #39
@jasonm23 finally got around to updating the docs. Thanks! [view commit](https://github.com/ruhoh/ruhoh.com/commit/9223f30ea4a3ab87744d94c29a45090fbfc7f41b)

[2012-07-08 02:11] #39 closed, assigned to nobody

[2012-07-08 02:50] plusjade commented on #50
@Darknight670, this bug is confirmed. This bug also affects all the other comment widgets except for disqus. I will fix this in the next release.

In the meantime you can get this to work by _overloading_ the system level livefyre layout.

In your blog you should have a widgets folder:

[code]

Then in the livefyre.html file place the corrected code:

[code]

[2012-07-08 03:08] okigan opened #54 "gem install fails on windows"
`gem install ruhoh` fails on windows with:

[code]

this can be boiled down to problem in installing `gem install psych`. This guy figured a work around:
http://jonforums.github.com/ruby.html, but this is way too much and way unsupported.

[2012-07-08 04:26] plusjade commented on #54
Anyone know if and why Jekyll on windows works? What's in ruhoh that isn't in Jekyll?

[2012-07-08 20:54] lynnfaraday commented on #49
@plusjade  - Yes, that was my confusion about assets.  I missed the part about javascripts in the widget config.yml file so my javascripts weren't loading, but I eventually figured it out.

Regarding custom comments:  Perhaps I was doing something wrong, but I became convinced that custom_comments.html _didn't work_.   It was only after I renamed it to comments.html that my custom stuff showed up

[2012-07-09 02:25] okigan opened #56 "production_url has no affect"
Updates to production_url do not seem to have an effect -- link in navigation bar still point to <username>.ruhoh.com.

[2012-07-09 02:54] okigan commented on #56
here a repro with ruhoh.com itself (!?): https://github.com/ruhoh/ruhoh.com/blob/master/config.yml

[2012-07-10 13:35] jacobmgreer opened #57 "total post count?"
is there a template tag for total post count?

[2012-07-11 04:38] lynnfaraday commented on #49
@plusjade - I doublechecked.   custom_comments.html doesn't work.   It needs to be custom.html, mirroring the name in the "layout" configuration like disqus.html and livefyre.html    I think the behavior is correct and the documentation just needs to be tweaked.

[2012-07-12 04:08] okigan opened #58 "rss link"
Link to rss is not included in a/any page.

Possible modification:
https://github.com/okigan/blog/commit/415d92e7205c46607f30b8bd10bdc0c8cda7be9c

[2012-07-12 04:16] okigan commented on #56
issue also identified here:
https://github.com/ruhoh/ruhoh.rb/pull/48

possibly address by this pull request:
https://github.com/celadevra/ruhoh.rb/commit/b0d54bf07d7a69145b2ddd899a77d7390e958f9f

[2012-07-14 23:34] lynnfaraday opened #59 "Widgets can't have multiple javascripts?"
Seems that the widget parser doesn't handle a widget with multiple javascript files -- unless perhaps I'm missing something.  I tried various permutations.

I made a change in my fork to make it accept multiple JS files separated by spaces, like so:

[code]

   (could also be x.js y.js z.js -- though I didn't test that explicitly)

See [this commit](https://github.com/lynnfaraday/ruhoh.rb/commit/5

[2012-07-15 01:20] ghost commented on #46
Hi, I'm trying to put together a ruhoh widget for MathJax. I don't know any Ruby, so bear with me.

The intended functionality of the widget is to insert a few lines of javascript into the html layout file. If I hardcode those lines of javascript into default.html inside the theme, then it works. Ideally, I would like the script added to pages and posts, but at least to posts. (Should I do anythin

[2012-07-15 01:32] plusjade commented on #46
@dickfeynman so first off the widgets functionality is made entirely so you _don't_ have to hack on the gem itself. The widget should work magically just by placing it in your blog's "widget" folder.

As for the implementation. Can you link me to a public repo where your code currently is? I'll try to run it locally and see if I can get it working. In general, widgets have the ability to register

[2012-07-15 01:46] ramnathv commented on #46
I use `mathjax` in `ruhoh` by doing the following, and it works great for me. I presume you are missing the second step, and if I understand `ruhoh` correctly, you need that.

#### Create a `mathjax` widget

[code]

#### Add it to the page/blog layout

[code]

UPDATE: My mathjax config is copied from stackexchange. This is what I have in my `mathjax.html` file

[code]

[2012-07-15 01:53] ramnathv commented on #46
On a related note, if you can put together some guidelines for contributing widgets, that would be appreciated. I have put together a widget for `highlight.js` and works are in the process for a `pygments` widget. So if there are guidelines, I can stick to that rather than inventing my own.

Here is a link to my [ruhoh blog](http://ramnathv.ruhoh.com) (it is purely a playground currently, as i ref

[2012-07-15 02:04] ramnathv opened #60 "Adding scripts to the workflow"
First off, amazing work with `ruhoh`. I appreciate the amount of thought you have put in, to make things modular and language agnostic. My question is about what is the best way to add external scripts to the workflow.

Let me give you some context. I write my source files in [R Flavored Markdown](http://rstudio.org/docs/authoring/using_markdown), which is a dialect of markdown that supports embed

[2012-07-15 04:06] lynnfaraday commented on #53
Just an update:  The reason I suggested this was because I was working on a photo gallery extension that needed a mustache extension.  I have subsequently realized that it fits very nicely as a widget... except that widgets can only have javascript, not ruby code.  I made a small change to my fork of ruhoh to allow widgets to have ruby helpers too (here's [the commit](https://github.com/lynnfarada

[2012-07-15 04:34] lynnfaraday commented on #59
Resubmitting with a pull request now that I figured out how.  Sorry for the spam!

[2012-07-15 04:34] #59 closed, assigned to nobody

[2012-07-15 17:38] ghost commented on #46
Thanks, @plusjade and @ramnathv

@plusjade: Ah, okay. Since I saw the layout files for other default widgets in the ruhoh.rb source code, I got confused. For now, my javascript is quote similar to that of @ramnathv.

I didn't realize that I had to manually add `{{{ widget-name }}}` to themes/footheme/layouts/default.html. Now I have it working roughly. What's tripping up is that markdown is workin

[2012-07-15 17:55] plusjade commented on #46
@dickfeynman most early adopters of ruhoh really want the mathjax integration. I've played with a plugin but the hard part, as you mentioned is to get it working nicely with markdown. The most intuitive approach would probably be to add a custom markdown tag to the markdown engine. For now, one of the methods I was playing with was to override the back-tick functionality to support mathjax -- some

[2012-07-15 18:04] ghost commented on #46
I would think that most people would prefer to write in LaTeX and have the javascrip convert that to MathJax (that's how it's usually done). For example, have a look at the source of the [sample math page on my blog](https://raw.github.com/dickfeynman/dickfeynman.ruhoh.com/master/pages/testing-mathjax.md).

[2012-07-15 18:13] ramnathv commented on #46
I would not reinvent the wheel regarding `mathjax` syntax. The better approach would be to use a `markdown` converter that has the ability to leave `mathjax` alone. I believe `RedCarpet2` has the option `no_intra_emphasis` which does not wrap underscores in `<em>` blocks. So is the case with `kramdown`.

Since `ruhoh` does not allow custom plugins, for now my approach is to use a custom `markdown`

[2012-07-15 18:14] plusjade commented on #46
Hmm, yeah that is what I find most people using. The main problem with that is the markdown parser is going to screw up those lines due to the underscores (dealt with this issue intimately with another guy trying to make it work). Now you can make it work easily if you use the mathjax js library style of enclosing them in script tags because markdown does not parse anything inside HTML tags. Howev

[2012-07-15 18:16] ramnathv commented on #46
@plusjade as indicated earlier both `kramdown` and `RedCarpet2` are easy to make workable with `mathjax` since they have the extensions that support `mathjax`. I dont think hacking on `RedCarpet` would be a good way to go about this.

[2012-07-15 18:25] plusjade commented on #46
@ramnathv as far as I know I'm pretty sure ruhoh is already using redcarpet2. I'll push an update to enable : no_intra_emphasis.  Also you can use whatever markdown parser you want via a [custom plugin](http://ruhoh.com/usage/plugins/#toc_5), unless you mean you'd like the ability to choose a markdown parser when pushing to http://username.ruhoh.com ?

[2012-07-15 18:45] ramnathv commented on #46
Yes. I meant for pushing to ruhoh.com. I use `kramdown` currently.

[2012-07-15 18:50] ghost commented on #46
@plusjade Working on the LaTeX first and converting it to HTML (with something like tex4ht) before the markdown processing sounds like a plausible solution.

I'm not well versed with markdown, but it seems to me that markdown has no use for $ or $$. Can we have markdown (parsers) blindly pass everything that is (standard LaTeX syntax for math) `$foo$` or `$$foo$$`? If used in conjunction with the

[2012-07-15 19:12] ramnathv commented on #46
@dickfeynman you don't need to look as far as `tex4ht`. Using `RedCarpet2` extensions along with some Mathjax configuration should do the trick. I have used it successfully on `Octopress` which is another custom blogging tool.

[2012-07-15 19:49] alexedde commented on #54
I had the same problem and the solution was to download libyaml, and to specify the lib directory while the gem installation.

Download https://github.com/jonforums/libyaml-waf/downloads extract it, for example to `C:\DevKit\libyaml\`.
Add `C:\DevKit\libyaml\bin` to your %PATH%
Run `gem install ruhoh --version '1.0.0.alpha' -- --with-libyaml-dir=C:\DevKit\libyaml`

[2012-07-15 20:25] lynnfaraday commented on #52
@plusjade: I understand it's not a priority for the first release - that's cool.  I would really like to get this working for my own widget, though, and I'm happy to do the work myself.  I have modified widgets.rb so that it gets the global payload much like pages do:

[code]

Now it has access to all the static database stuff.  What I can't figure out is how to get it the current page context.  I

[2012-07-15 20:43] okigan commented on #54
confirmed install passed (have not checked if it works :)

btw I think path modification is not needed see "Temporarily enhancing" log line below

C:...>gem install ruhoh --version '1.0.0.alpha' -- --with-libyaml-dir=C:\DevKit\libyaml
Temporarily enhancing PATH to include DevKit...
Building native extensions.  This could take a while...
Fetching: ruhoh-1.0.0.alpha.gem (100%)
Successfully installed

[2012-07-15 21:35] okigan opened #63 "Propose to allow png files in pages subdirectory (encapsulated folders for page content/data/assets)"
To keep things simple propose to allow png files in pages subdirectory.

This simplifies editing and allows to use of the shelf markdown editors.
But currently that's impossible as ruhoh forces png files to be placed in top level media directory.

It's nice to think about CDN compatibility, though it seems that should be done at
compilation step, rather than forcing at content creation.

[2012-07-15 22:05] plusjade commented on #63
So you are saying there are markdown editors that let you place image files inside the text, but they reference only the child directories of the markdown file? Can you give me an example of this product or workflow? thanks!

[2012-07-15 22:14] okigan commented on #63
http://markdownpad.com/ -- great editor (IMHO)

mostly it is the {{urls.media}} that would break it, but I still propose to allow/default image files to be
in the same directory as <page>.md file

This allows for simple granularity of pages, particularly in projects.

[2012-07-15 22:22] okigan commented on #63
another editor that I use, from visual studio, that also would benefit/affected from this issue:
http://visualstudiogallery.msdn.microsoft.com/0855e23e-4c4c-4c82-8b39-24ab5c5a7f79/

[2012-07-16 09:36] ghost commented on #43
One way of doing that could be by adding a category called "private". And then having a plugin tell ruhoh to display those posts only as necessary, i.e. only if someone specifically requests for it. I would imagine that typical titles (strings with a few words) would be quite unguessable and almost as good as randomly generated URLs. The author could of course hammer away on the keyboard and creat

[2012-07-16 09:51] ghost commented on #43
With a little more thinking, I realize that it would be quite complicated when you have a static blog (even if you had obfuscated URLs). You want to make the content visible when someone asks for it, but you don't want any (unintended) person to see that such a file is present on your blog. [eg: Imagine a situation where someone decides to get a copy of all the content on your website] Among other

[2012-07-16 16:18] plusjade commented on #43
Hmm, @dickfeynman, we can extend your idea to just provide a namespaced folder, for example "private" that we can tell your nginx/apache/etc web-server to lock down via a user/pass. This would have to be done separately from ruhoh of course but we can perhaps provide clear instructions for how to go about setting it up. -- thoughts?

[2012-07-16 18:32] ghost commented on #43
@plusjade That sounds good to me. I wonder what @dph01 thinks.

Even in other contexts, I would like the ability to have a folder of content, without those files cluttering up my list of pages. By default they would be "hidden" unless I explicitly provided the links to someone (either on my blog, or through other means like email, etc.)

[2012-07-16 19:45] ghost opened #64 "Per-post summary_line count configuration"
It would be nice if the post summary was not a fixed number of lines, but could be specified for each post.

[2012-07-16 22:33] jmburges commented on #33
Have you figured this out yet? I'd love to get pagination to work because I think a really long list of blog posts is ridiculous...

[2012-07-17 15:38] jasonmtroos commented on #33
Seconding @jmburges's comment -- pagination seems like it ought to have relatively high priority.

[2012-07-17 19:11] lynnfaraday commented on #33
I got sidetracked on some other features, but I think I understand the system well enough to finish this now.  I'll put it back on the front burner.

[2012-07-18 03:11] plusjade commented on #64
You can specify a custom line-count on the global blog level:

[code]

Are you asking to enable custom summary lines on a per-post basis?

It would be kind of cool to refactor (most) every configuration parameter to cascade from the file level to the global level...

[2012-07-18 03:54] plusjade commented on #42
Custom domain mapping is now officially supported!

Head over to http://post.ruhoh.com, authenticate with GitHub and follow the directions. Let me know if you have any problems and/or feedback. Thanks!

[2012-07-18 03:54] #42 closed, assigned to nobody

[2012-07-18 03:57] plusjade commented on #45
Closing issue with the conclusion that this falls under a the web server's responsibility. We can address fine-tuning these sorts of things at a later time if need be.

[2012-07-18 03:57] #45 closed, assigned to nobody

[2012-07-18 04:01] ghost commented on #64
Yeah, I meant summary on a per post basis.

The way you suggested sounds appealing and I guess would be a good policy.

[2012-07-18 04:02] plusjade commented on #53
Closed the wrong issue =(

[2012-07-18 04:03] plusjade commented on #50
Fix: https://github.com/ruhoh/ruhoh.rb/commit/331eff36d8355c0113ca39b4e70eaf93a3cfaaa4

[2012-07-18 04:03] #50 closed, assigned to nobody

[2012-07-18 04:07] plusjade commented on #51
Yes that is possible and planned actually. I have some skeleton code that accounts for a cdn options. Mainly that's the reason for the variable paths, e.g.: {{paths.media}} though to be honest I still have to figure out all the edge cases and (hopefully) intuitive solution.

[2012-07-18 04:11] plusjade commented on #56
@okigan the production_url is technically only used for when you need an absolute link to your blog. The current (and only) use case is when generating the rss feed.

The reason production_url does not act like a base path is because it's easiest to make the base-path relative: "/"

The two main reasons I see for customizing the url is if you are serving your blog from a sub-directory (what @celad

[2012-07-18 04:12] plusjade commented on #57
No, but good idea =)

[2012-07-18 04:19] plusjade commented on #58
Good idea, will add it. I stole this from your code:

[code]

Is this all I need? To be honest I don't know much about rss. Your's work with this tag? If so I'll it in exactly as so - thanks!

[2012-07-18 04:34] plusjade commented on #60
What exactly are you running to parse the R code? Is there no software that converts `rmd` straight to `html` ?

The best and currently only way to execute any ruby code (and consequently any code by shelling out via ruby) is the plugins. However, the plugins only run on compilation so it won't do any good as far as previewing.

A lot of ruhoh's users seem to be working with calculation based form

[2012-07-18 05:23] okigan commented on #58
works for me (tm) in chrome.

I've sent you a pull request with the above change:
https://github.com/ruhoh/blog/pull/1

[2012-07-18 05:36] okigan commented on #63
bump -- i think this is most important issue

@plusjade, i got a rough draft update for the compiler (i can push that to my fork), and need some help with the previewer component

[2012-07-18 05:41] plusjade commented on #63
ok send it over :)

[2012-07-18 05:57] okigan commented on #63
Have a look at:
https://github.com/okigan/ruhoh.rb/commit/4fa719f91821e7914b98c5848a6ec79285cfbe09

Draft ! allow static media (png, jpg, zip!) files local in project pages
issues:
- print debugging has to go out
- media name is used in other parts -- maybe mediafiles?
- previewer does not work -- some settings to rake needs to be added -- url paths in call()

key files:
- lib/ruhoh/compiler.rb
-

[2012-07-18 16:14] ramnathv commented on #60
I am using an R package `knitr` that executes code chunks and converst `Rmd` to `md`. It is possible to convert `Rmd` to `html` within `R`, but I like the flexibility that Ruhoh provides and hence my preferred workflow would be `Rmd -> md` using R and `md -> html` using Ruhoh.

Converting from `Rmd` to `md` is as simple as running `Rscript -e "library(knitr); knit(input, output)"`. So I could just

[2012-07-18 17:05] plusjade commented on #60
@ramnathv  Can you give me a sample `Rmd` file? I'm going to download the knitr stuff and try to execute it locally. That way I'll work out how to integrate it into ruhoh.

By order, you mean parse the formats in the correct order, e.g. `Rmd` -> `md` -> `html` ?

[2012-07-18 17:26] ramnathv commented on #60
You will need to install [`R`](http://cran.r-project.org/) and then install `knitr` using `install.packages("knitr")`. Here is a reference to [`R Markdown`](http://rstudio.org/docs/authoring/using_markdown). I can put together a sample `Rmd` file in a gist, but the idea is that `Rmd` files have live R code which get executed and the output inserted to create the `md` file.

Currently, the way I am

[2012-07-18 23:05] ramnathv opened #66 "Keep widget assets and config in one place"
I really like the widgets concept implemented in `ruhoh`. It facilitates plug and chug workflows. However, I find it a little strange that assets of widgets are split across directories. Case in point: `google_prettify`. The stylesheets are in the `theme/widgets` folder while the `javascripts` and `layouts` are in the `widgets` folder. Moreover, the configuration options are also split across two

[2012-07-18 23:14] ramnathv commented on #66
It might additionally make sense to keep the widget and theme folder structures consistent. I would argue that themes are essentially a special kind of widget that style the overall look and layout of the blog/page. The theme/widget folder would have the following structure

[code]

[2012-07-18 23:22] dch opened #67 "Installing ruhoh on Mac Lion with rbenv + friends"
I'm not familiar with ruby at all, feel free to enlighten me here - could be my bad. This took me a while to get working,
if it's correct feel free to add it to teh wiki or whatever makes most sense. I'm using 64-bit Lion, with
- llvm-gcc (no XCode though)
- rbenv
- rbenv-bundle
- rbenv-ruby-build
- bundler 1.1.5

[code]

My rbenv and Gemfile config

[code]

Fix nokogiri failures by binding to hom

[2012-07-19 15:08] okigan commented on #66
check out https://github.com/ruhoh/ruhoh.rb/issues/63 which is similar in concept and targets project pages.

[2012-07-19 21:16] jmburges opened #68 "Confused about block mustache helpers"
Hello,

I'm trying to write a date formatter (Is there a better way to do this?) using the block mustache helpers. Here is my code (in plugins/helpers.rb)

[code]

and I'm using it like this

[code]

But I'm getting an error on the parse line saying ArgumentError at /blog invalid date. This makes no sense to me I have copy pasted that date into irb and Date.parse works fine. I have tried stripping

[2012-07-19 21:26] plusjade commented on #68
@jmburges this works for me:

[code]

My guess is you have nothing at {{date}} (this is a mustache variable). If you are adding a date in site.yml then it wil be at {{site.date}}

I have to leave right now but try it out and see if you can get it working!

[2012-07-19 23:00] jmburges commented on #68
I get the same thing when I put october in as you do. When I put {{date}} back in it then breaks again.

I commented out the other stuff and just printed date back out and it prints correctly. Any ideas? (This is in a partial for posts_list)

[2012-07-20 06:21] plusjade commented on #68
Ahh, ok my brain is a little late to the party but I see what is going on now.

So mustache passes in the context _unrendered_ allowing your method to do work on it as needed and/or render it if and when you deem necessary.

To render the content (that is parse any mustache tags within the current context) just call the render method:

[code]

That should do it! Please verify you get this working.

[2012-07-20 06:30] plusjade commented on #68
I plan to natively support a date format via the config.yml file. Basically input a strftime format and output all dates using the format. However this is not currently a high priority. But it would be along the same lines as you are thinking about in your method, just defined within the gem so its officially supported.

If you have some free time, you might look into integrating your method to su

[2012-07-20 07:47] plusjade commented on #66
@ramnathv I was wrestling with this a lot myself. It is very hard to design a modular system and have module components exist in two places!

My decision comes down down to the fact that I believe styling rules should be separate from function.

##### Example

Suppose I make a widget that enables searching based on tags. The search is implemented in javascript and provides a basic UI consisting of

[2012-07-21 23:10] #68 closed, assigned to nobody

[2012-07-22 03:57] lynnfaraday commented on #66
I thought about this too... my feeling was that it's OK to have it split.   Consider the case where there's a very popular widget that becomes 'mainstream' - each theme will probably want to style it in a different way, but there's no reason to duplicate the functional code.   Now consider the case where you're a widget designer distributing your own creation.  It's a little awkward, but it's not

[2012-07-25 18:41] ghost opened #70 "Customizable RSS feeds"
I would like to suggest a feature. Instead of having an RSS for the whole site, it would be nice to have RSS feeds for different categories/tags, so readers can subscribe to a subsection of posts.

[2012-07-25 18:43] ghost commented on #70
I wonder if there is a generic way (while subscribing) to filter posts from an RSS feed by specific properties in metadata. I'm not aware of any solution. If that's possible, then the blog generator (ruhoh) need not concern itself with this.

Else, it would be great if we can have ruhoh generate feeds based on custom specifications. Maybe this could/should be implemented as a plugin :-?

[2012-07-25 21:22] Meroje commented on #70
I did something like that for sitemap generation, very messy but working code visible on my fork.
A really useful use of multiple rss feeds would be to have "series", it will make a great addition.

[2012-07-25 23:16] ghost commented on #70
@Meroje How do I find the file/commit with the relevant changes you made?

I have made small tweaks to the `lib/ruhoh/compilers/rss.rb` file so that it also displays the categories and tags with each post, along with it's description (all inside the summary). With this setup, I'm thinking of sifting through the generated `rss.xml` to filter as necessary. This part could be implemented as an addon,

[2012-07-27 06:35] zx1986 commented on #13
hello, Jade!
I'm back. sorry for take so long time.

I got blogspot, octopress, ruhoh run with my blog.
the ruhoh is my favorite, really :-)
it's simple and graceful.

but I got a little bit issue here:
http://zx1986.ruhoh.com/log.txt

![compiled fail](http://i.imgur.com/1D9d2.png)

and I fix my site.yml like this, it works:

![compiled ok](http://i.imgur.com/RbCqS.png)

anyway, my ruhoh blog work

[2012-07-28 06:26] gaoyuan opened #71 "Push does not trigger blog change"
I have added webhook.  And the changes can be seen from log.txt. However the pages at gaoyuan.ruhoh.com are not changed.

[2012-07-28 18:32] plusjade commented on #71
@gaoyuan is this still a problem for you? I manually triggered the webhook and looks like your blog is up to date relative to your most recent commits.

Can you verify this is fixed for you? Thanks!

[2012-07-28 18:33] gaoyuan commented on #71
Works now. Thanks.

[2012-07-28 18:34] plusjade commented on #71
What was the initial problem?

[2012-07-28 18:37] #71 closed, assigned to nobody

[2012-07-28 18:39] gaoyuan commented on #71
Not quite sure. 'cause yesterday when I push to github master, the blog at ruhoh.com is not automatically updated. Yet today it did. :)

[2012-07-30 03:48] samuelhwong opened #72 "Enabling HTTPS"
I'd like to run ruhoh under https with a self-signed certificate using Thin as the web server...

Is this even possible or is a reverse proxy with something like Apache necessary?

Thanks in advance.

[2012-07-30 05:09] lynnfaraday commented on #49
Actually I just re-read the documentation.  It is correct.  I was just thrown off by the old pre-widget implementation, which used "custom" as the layout name, rather than "custom_comments".   The layout can be anything as long as the layout name and the layout HTML file name match.

[2012-07-30 05:09] #49 closed, assigned to nobody

[2012-07-30 08:00] plusjade commented on #72
ruhoh makes no assumptions about your web server, so you should be able to set it up any way you'd like.

The compiled site is just a collection of static web pages so you might want to research how to serve static files using Thin. Basically anything you'd like to do on the web-server end is entirely up to how you configure Thin as the web-server.

Hope this helps.

[2012-07-30 13:04] ramnathv commented on #66
I spent quite some time thinking through the comments made here and all the points are valid. My use case may not be typical, but let me explain with an example. Suppose, I want to start using a particular jquery tooltips plugin. It comes with its own set of stylesheets. Now, a natural workflow to me would be the following:
1. Copy the widget to the widgets folder.
2. Add a layout file indicating

[2012-07-30 14:11] matteolc commented on #30
Could we integrate HAML in the asset pipeline? https://github.com/infbio/haml_assets
Or is it breaking the language agnosticism

[2012-07-30 14:19] lynnfaraday commented on #66
@ramnathv -  I totally get what you're saying about DRY, but my question back would be:   What are the odds that the widget appearance will look exactly the same in each of your themes?   The few widgets I've been playing around with have been distinctly styled per-theme, so I've seen the advantages of keeping the style information separate.

It might be convenient for your case to have the widget

[2012-07-30 14:39] ramnathv commented on #66
I see your point. I guess the difference is due to the kind of widgets we encounter.

[2012-07-30 16:06] samuelhwong commented on #72
Sorry, I forgot to mention I'm not compiling... I suppose my use-case is rather peculiar: I want to be able to blog with ruhoh from my phone and from my dev laptop and have the changes immediately published.

So I placed my ruhoh files on Dropbox, which syncs my phone and an ec2 instance. On the ec2 instance, I'm running ruhoh in preview mode so it'll watch for file changes and serve fresh html ev

[2012-08-02 23:15] lynnfaraday opened #74 "Widgets with multiple stylesheets?"
Is it an intentional limitation that widgets can only have one stylesheet, or am I missing something?   I have the workings of a patch, but I wanted to make sure it was actually broken before i submitted it :)

[2012-08-02 23:24] lynnfaraday opened #75 "Incremental Compile?"
Having imported a lot of entries from my old blog, a full compile and upload takes _just_ long enough to be a frustrating.  I'm still fiddling around with rsync, which may help some, but I'm wondering if anyone else thinks that it would be valuable to have some sort of incremental compile option.

As a first step, I think that it would let you specify just one post to compile (typically a new post

[2012-08-03 06:24] plusjade commented on #74
@lynnfaraday currently the widgets can only load one stylesheet. I guess I just assumed a user would specify all the css in one file. What would be the case to use multiple files? Just better organization?

[2012-08-05 14:02] lynnfaraday commented on #74
@plusjade - Yeah, that's basically it.   Specifically, I'm making a widget to integrate with [Popeye JQuery](http://dev.herr-schuessler.de/jquery/popeye/), which comes with two stylesheets out of the box.  I could combine them into one, but they're separated for organizational purposes.  [Here's a commit](https://github.com/lynnfaraday/ruhoh.rb/commit/9a426cd28709b3d85fac846cbaa06fe0531f8cbd) to a

[2012-08-08 13:46] Painted-Fox commented on #54
I came across this issue and the solution above allowed me to install `ruhoh` without error.  However, once I run it in the command line I get an error in a popup that reads: "The program can't start because yaml.dll is missing from your computer. Try reinstalling the program to fix this problem."

To solve the issue I installed **psych** by following the instructions here found in the article: [H

[2012-08-08 16:02] Painted-Fox opened #76 "ruhoh compile looks for underscore paths (Windows)"
I was able to install **ruhoh** on Windows after using the solution I attached to [issue #54](https://github.com/ruhoh/ruhoh.rb/issues/54#issuecomment-7583907).  I ran the following:

[code]

The ruhoh compile command complained with the following:

[code]

So, I created a copy of the `config.yml` file and renamed it to `_config.yml`.  Running the compile again got me this error:

[code]

So, it l

[2012-08-08 16:06] plusjade commented on #76
Yes the underscore is from earlier ruhoh versions which were based largely on jekyll. can you verify that you are running the latest ruhoh version?

[code]

[2012-08-08 16:10] Painted-Fox commented on #76
Oh! My mistake.  I installed version 0.3.0 by mistake after having to reinstall it on windows.

Thank you!

[2012-08-08 16:10] #76 closed, assigned to nobody

[2012-08-16 09:15] celadevra opened #79 "1.0.rc bin/ruhoh runtime error"
I cloned the 1.0.rc code tree, added a line to `ruhoh.gemspec`, build a new gem and installed it:

[code]

and established a new blog directory under ~/src:

[code]

`ruhoh compile` works, but

[code]

[2012-08-16 15:24] plusjade commented on #79
@celadevra this should probably fix your problem: https://github.com/ruhoh/ruhoh.rb/pull/78#discussion_r1393605
I've added in the necessary commit, please fetch the latest on this branch and let me know if it solves the problem, thanks!

[2012-08-16 22:21] jackcallister commented on #7
@pluskid,
I'm curious about your SASS compilation set up. I've got SASS compilation working by directly editing the config.ru file but I'd rather a compiler-task plugin - is that what you've done? I'm not quite sure how to go about this, could you point me in the right direction.

[2012-08-17 01:23] pluskid commented on #7
@jarsbe I was using rake-pipeline, and you just hand-craft anything you want to compile, and register it as a ruhoh compiler task. It will then be executed every time you run ruhoh.

[2012-08-17 14:17] celadevra commented on #79
The latest code worked all right, although I haven't tested all client functions extensively. Thank you, @plusjade and @MrWerewolf.

For the gem built from the code to work properly, the line `lib/ruhoh/parsers/theme_config.rb` is still needed in `ruhoh.gemspec`, though.

[2012-08-17 14:17] #79 closed, assigned to nobody

[2012-08-19 04:00] ohNegative opened #80 "initial git push master origin not working w/ ruhoh"
I cloned the scaffolding on my local but when I went to push this to my repo (which I already created here: https://github.com/ohNegative/ohnegative.ruhoh.com) via command line I keep getting: ERROR Repository not found.

I'm using Windows to do this and can't figure out why I'm getting this error.

Any help would be appreciated.

[2012-08-19 18:38] plusjade commented on #80
can you do a `git remote -v` and paste the output here. Also remember your username and repo names are case sensitive so it's probably something to do with the capital N.

[2012-08-19 23:06] openpencil opened #81 "Search?"
Hi, I recently started using Ruhoh because it seemed like a very easy way to keep my blog simple and under version control using a linux system. Is there a way I can incorporate a search box into my ruhoh blog?

[2012-08-19 23:43] jimjh commented on #81
I don't think there is a way to do that now, but I have plans to work on this feature in the future.

[2012-08-20 03:41] plusjade commented on #81
@openpencil, yes the easiest way would be to use a client-side service. There are three I know of:
1. http://www.google.com/cse/
   Uses Google to index your pages then provides an ajax search to display the results without taking the user off your page.
2.  http://www.tipue.com/
   This is a little more more work to setup but unlike Google's CSE, you provide the content to index. This means you d

[2012-08-20 14:33] openpencil commented on #81
@plusjade thanks so very much for your detailed suggestions. I went the _Swiftype_ route and the [the nifty results are on my blog now](http://openpencil.ruhoh.com/).

It couldn't have been easier. I just signed up, hit some straightforward buttons to let the service spider my site and pasted the install code on my default.html page!

[2012-08-20 15:20] ohNegative commented on #80
I'll change the capital N and let you know what happens. If it still won't work, I'll paste in the output and we'll go from there. Thanks for your help!

K

[2012-08-20 21:26] ohNegative commented on #80
Ok - so that worked. I had to delete the repo and use the correct case-sensitive user name. I just repeated the process and it worked correctly.

Thanks for your help!

[2012-08-20 21:26] #80 closed, assigned to nobody

[2012-08-23 22:01] afknapping opened #82 "git rejects first push"
following the (awesome!) step by step tutorial from scratch i arrived at

[code]

and here is the log:

[code]

did a `git pull`:

[code]

[2012-08-23 22:07] afknapping opened #83 "config 404"
http://ruhoh.com/usage/usage/configure

[2012-08-23 22:16] jimjh commented on #82
It seems like there is a conflict between the README file that Github created for you and the README file that came with  Ruhoh. Have you tried the following?

[code]

[2012-08-23 22:21] afknapping commented on #82
oh sure, resolved the conflict and it's up and running. just wanted to let you know to (maybe) adjust the tutorial.

[2012-08-23 22:42] plusjade commented on #83
Where is this linked found? It should be http://ruhoh.com/usage/configure

[2012-08-23 22:47] afknapping commented on #83
directory structure: http://awesomescreenshot.com/03ddzx38d

[2012-08-23 22:52] plusjade commented on #83
[Fixed](https://github.com/ruhoh/ruhoh.com/commit/dc057ee33057e182a32b406230de4d121de5b7de). Great catch -- Thanks!

[2012-08-23 22:52] #83 closed, assigned to nobody

[2012-08-23 23:18] jimjh commented on #82
Yup.  It might be a good idea to note this in the tutorial.

[2012-08-23 23:26] plusjade commented on #82
Can we clarify the use-case here? When would this error occur? Only when the user creates a repository from GitHub website? I'm personally not seeing how GitHub would touch the readme file if I am git cloning a project then pushing it up to a new remote? I haven't tried this myself, just looking to track down the use-case this happens so I can write clear instructions.

[2012-08-24 00:23] jimjh commented on #82
When a user creates a repo from the GitHub website, he's given the choice to add a default README file (and so the new repo is not entirely empty.) Therefore, when the user tries to push a ruhoh clone, he will run into a conflict because the ruhoh clone already has a README file.

[2012-08-25 16:34] wweic opened #85 "RSS format conflict with google webmaster tool"
hi, nice work with rss generation. But there is a problem between the generated RSS file with what Google Webmaster Tool want as a sitemap.

Google recognize a sitemap as valid with **required** tag <code>description</code> under the <code>channel</code> tag, while ruhoh now does not generate this tag by default. a quick fix is add this tag manually, well, it could better is we can put this in som

[2012-08-27 15:34] afknapping opened #87 ""syncing" header vars with scriptogr.am"
i recently checked out the state of [scriptogr.am](http://scriptogr.am) which ended in making myself a template with all the posible header vars:

[code]

a. i miss excerpts and link posts in ruhoh so far
b. there are no dashes to keep the header from the post (which is great)
c. the tags work without the brackets (which is the way they should work imho)
d. defining a `type` imho also makes more s

[2012-08-27 16:19] Painted-Fox commented on #87
I've noticed that running `ruhoh post` will create this:

[code]

I assume the **description** field can be used similarly to the **Excerpt** field shown in your example, but it's not used in the currently included theme.  Instead, Ruhoh creates a blurb from the first 30 lines of content (by default).

I'd like to also point out that Ruhoh starts its field names with lower case letters.

I don't t

[2012-08-27 17:37] plusjade commented on #87
@filtercake as @MrWerewolf notes the main implementation crux about the header meta-data is that it's all valid YAML. YAML was chosen because it's a direct artifact of jekyll which also uses YAML. More importantly though YAML is supported and standardized in nearly all languages.

a. I don't understand the use-case for `links`. If I'm linking to an external source why do I need to create a (blank)

[2012-08-27 21:05] afknapping commented on #87
a. i guess [daring fireball](http://daringfireball.net/) is the classic example for link-posts (tumblr also has them btw). it's not about having a blank page, but pointing out a relevant quote and maybe some comment.
b. ah, that is outdated: http://scriptogr.am/blog/post/front-block-updates
c. and "after d.": i see both your points, but not being a developer i have to say that when writing a post,

[2012-08-27 21:40] plusjade commented on #87
a. Seems like it would be easy enough in ruhoh. Every attribute in the YAML meta-data is just an attribute on the page. So you can set the link and do:

[code]

Does scriptogram do anything special with the link? If it's just a link it's just an attribute of the page. You are free to make a nice template to format them like daringFireball.

You can see that supporting YAML means ruhoh does not hav

[2012-08-27 22:34] afknapping commented on #87
ah, thanks for explaining. makes all much more sense now.

i don't know when i will have the time, but doing a ruhoh-theme is sth i want to do anyways. will try then what we discussed and see how it works out.

as an aside: so i could eg replace markdown link references like `[something][1]` with yaml references like `[something]({{1}})` if my header would feature `1: http://something.com`?

[2012-08-27 22:41] plusjade commented on #87
yes =)

And excited to see your theme contribution. I noticed on your github page you do sass/less/haml stuff. I'm working on getting automatic support for parsing those both in preview and compile mode. Could use your help (as a user) with that. Let me know if the theme stuff doesn't make sense or a better way to do it since I'm not hip to the designer dev process.

[2012-08-27 23:56] afknapping commented on #87
sounds awesome, would love to try that out.

[2012-08-28 09:56] geekhack commented on #82
thanks..helped me big tym.

[2012-08-28 12:09] Painted-Fox commented on #54
Since #77 is closed, this should no longer be a problem as long as you use Ruby 1.9.2 or better on Windows.

[2012-08-28 13:37] afknapping commented on #82
see https://github.com/ruhoh/ruhoh.com/pull/6

[2012-08-28 13:37] #82 closed, assigned to nobody

[2012-08-31 09:27] NredYssuts opened #89 "Ruhoh gem not working properly"
I installed ruhoh and it installed with errors, uninstalled, reinstalled and all went fine..
now when i enter the command:

ruhoh help

I receive this:

/Library/Ruby/Gems/1.8/gems/ruhoh-1.1/bin/../lib/ruhoh.rb:2: uninitialized constant Encoding (NameError)
    from /Library/Ruby/Site/1.8/rubygems/custom_require.rb:36:in `gem_original_require'
    from /Library/Ruby/Site/1.8/rubygems/custom_requir

[2012-08-31 14:30] plusjade commented on #89
ruhoh only supports > ruby 1.9.  it looks like you are running ruby 1.8.x.

[code]

what does that say?

[2012-08-31 14:37] NredYssuts commented on #89
hmm now I'm completely confused. you're right, I'm using 1.8.3, but when i check through rbenv it returns 1.9.3? any clues as to why?

[2012-08-31 14:52] plusjade commented on #89
I don't use rbenv but perhaps you need  to manually specify the ruby you
want to use first? for rvm you can set your default Ruby. is there a way to
do that with rbenv?

[2012-08-31 14:57] NredYssuts commented on #89
you can in a way, although this shouldn't matter as I've only installed one version of ruby (although it appears I've installed 2). Since I have a better grasp on the problem I'll try out some things and report back, thanks jade! really love jekyll and ruhoh (but ruhoh a lot more)

[2012-08-31 15:05] plusjade commented on #89
most OSes ship with a ruby so your are probably using the OS ruby.  just need to find a way to set default to your new one.

thanks for your support and I hope to get feedback as you continue to use ruhoh!

[2012-09-01 02:05] NredYssuts commented on #89
allright, i got rid of rbenv, got rvm, all going well so far and have installed ruhoh successfully although there is one thing I would like to fix.. when i execute "ruhoh help" i get:

RoughThroat-MacBook-Pro:~ nred$ ruhoh help
/Users/nred/.rvm/rubies/ruby-1.9.2-p320/lib/ruby/site_ruby/1.9.1/rubygems/dependency.rb:247:in `to_specs': Could not find ruhoh (>= 0) amongst [bundler-1.2.0, rake-0.9.2.2,

[2012-09-01 02:16] jimjh commented on #89
Have you tried:

[code]

When you switch ruby versions, you usually need to reinstall gems.

[2012-09-01 02:24] NredYssuts commented on #89
yes, currently using ruby-1.9.2-p32 with ruhoh installed ontop.

[2012-09-01 02:34] jimjh commented on #89
Hmmm. Just throwing ideas here. Try:

[code]

and paste what you see.

[2012-09-01 02:55] NredYssuts commented on #89
nothing appears but when I use..

sudo gem list --local | grep ruhoh

I receive

ruhoh 1.1

[2012-09-01 03:29] jimjh commented on #89
Yep. Looks like the gem is installed for the superuser, but not for you. Are you able to run

[code]

without `sudo`?

[2012-09-01 03:40] NredYssuts commented on #89
no, it tried and fails due to user permissions.. any clue on how i could change this?

[2012-09-01 13:26] jimjh commented on #89
This [answer](http://stackoverflow.com/questions/2119064/sudo-gem-install-or-gem-install-and-gem-locations) on StackOverflow might give you more details about the problem you are facing.

[2012-09-01 14:17] NredYssuts commented on #89
Thanks for all your help jimjh, I've cleared it up and am happily running ruhoh! :-)

[2012-09-02 07:14] #89 closed, assigned to nobody

[2012-09-06 11:02] jacobmgreer opened #90 "Custom Meta-Data Templating"
I've been creating a new theme for my blog but am having trouble with templating.
In the following example, the array of (link, title) of (toc, two) are currently rendering like:

[code]

Rather than

[code]

All the related code:

custom meta-data in a post (I'm trying to create a table of contents, it's generally working)

[code]

Table of contents partial:

[code]

Template code:

[code]

[2012-09-06 21:00] jacobmgreer commented on #90
Found a shoddy solution, but am still hoping there's a better one.

Fixed by this contents partial:

[code]

[2012-09-07 03:21] plusjade commented on #90
I think it has something to do with the way mustache thinks about context when doing an "if" statement block. The context is not exactly the same as a normal block context (i suspect though am not sure).

Either way the way you are doing your data-structures is probably causing you more problems than it's worth. I would personally keep the data-structures consistent:

This works:

[code]

JSON and

[2012-09-07 03:37] jacobmgreer commented on #90
Much better! I knew I was probably making it more difficult than I needed to! Thanks

[2012-09-07 05:39] #90 closed, assigned to nobody

[2012-09-09 10:42] bartero opened #91 "/base_path/ setting NOT ignored while previewing"
When I set /base_path/ in config.yml, e.g.

[code]

and run preview with `rackup` I get

[code]

Shouldn't this option be ignored while developing?

[2012-09-09 10:44] bartero commented on #91
Is it possible to attach a file? I would file the html debug output from the `rackup`

[2012-09-09 10:53] bartero opened #92 "test issue"
test issue

[2012-09-09 15:04] #92 closed, assigned to nobody

[2012-09-10 16:41] afknapping commented on #91
@bartero try pasting the console output into a [gist](https://gist.github.com/).

[2012-09-11 20:33] bartero commented on #91
I added a [HTML source and console output](https://gist.github.com/3701768) of the error page output by rackup tool.

If this is not the most suitable way to share this kind of information, please let me know.

Cheers,
Bartek

[2012-09-13 06:17] plusjade commented on #30
@tkellen heads up, I'm having too many problems with rake-pipeline. I tried the base example here: http://rubydoc.info/github/livingsocial/rake-pipeline/master/file/README.yard and it does not work. I finally got it to work by cloning your sinatra-template and magically figuring out the gem dependencies I need (as per your gemfile).

The next annoying thing that popped up was the compass dependenc

[2012-09-16 16:24] tkellen commented on #30
@plusjade Sorry, I haven't touched rake-pipeline in a few months.  Perhaps @wycats or @dudleyf would have time to weigh in on this?

[2012-09-16 20:45] ramnathv commented on #60
I would like to revive this thread. I have a function `knit2html` in R that can directly convert a `Rmd` file to `html`. I can make it a command line script. I realize that I can insert it into the plugins architecture as shown below. I have three questions.
1. How do I refer to the path of my script file?
2. Is `content` the file name or the contents of the file? The reason I am asking is because

[2012-09-16 21:13] plusjade commented on #60
@ramnathv the filename (id) is not available to the converters, only the content of the file which is available at `content`.

You can see how it works here: https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/converters/converter.rb

`Ruhoh::Converter.convert(content, id)`  is a wrapper that just looks for a registered converter that is assigned to convert the given `id`'s extension name -- i

[2012-09-16 21:18] ramnathv commented on #60
It makes a lot of sense. I can work with the `content` instead of the file id. Now the question is how do I pass content to my script from within the converter. In other words will this work in passing content to my script?

[code]

[2012-09-16 21:29] plusjade commented on #60
well assuming `./knit2html` will take a huge string of content as an argument then you just need to use `content` as a ruby variable:

[code]

[2012-09-16 21:55] ramnathv commented on #60
One last question (hopefully). What should be the base path of the script?

[2012-09-16 22:41] ramnathv opened #93 "Deployment Workflow"
Here is my situation. I have a lot of custom plugins running which make deployment using `ruhoh.com` unviable. I am looking for a workflow that would help me do the following.
1. Run `ruhoh compile` on my blog.
2. Copy the `compiled` directory to the `gh-pages` branch of a repository.

I also want the source files under `git`. Now I am a little confused as to what would be the most efficient workf

[2012-09-17 01:18] crhan commented on #93
Maybe octopress meets your need. Check the method here https://github.com/imathis/octopress/blob/master/Rakefile#L298

[2012-09-21 14:28] bijumon opened #94 "list of pages shows "pages" which points to itself"
when showing the list of pages using

[code]

a link to itself shows up as "pages"

[2012-09-21 16:28] plusjade commented on #94
this is intended as the list is a collection of all available pages.  why wouldn't you want the current page in the list?

[2012-09-22 03:12] bijumon commented on #94
because you are already looking at it? it's redundant

[2012-09-22 03:21] plusjade commented on #94
Plenty of lists include a self-reference. Navigation, menu bars, etc. "pages" is "all available pages" so this would be a feature, not a bug.

One nice thing you can do with ruhoh is mark/style the current page by checking `is_active_page`. That parameter will automatically be set to `true` for the active page.

[2012-09-22 17:04] letmaik opened #95 "Output a clear error message if document isn't UTF8"
One of my pages wasn't UTF8 encoded. Then I added the € character and some time later I noticed that it wasn't working anymore. With `ruhoh compile` I got:

[code]

After I converted the page to UTF-8, it worked. But what I also find a bit irritating is that there was no error message in the online log when I pushed the site anyway. It just didn't append any new "successful" log lines. This can be

[2012-09-23 00:18] ghost opened #96 "License?"
There doesn't appear to be a clear license for ruhoh.rb.

To ease users transitioning from Jekyll, I suggest MIT (or any BSD-alike).

[2012-09-23 00:21] plusjade commented on #96
the license is MIT. it says on the ruhoh.com website but not in the actual source I guess! I will look into that thanks!

[2012-09-23 00:23] ghost commented on #96
I see that now, thanks. I shall code away in confidence. :)

[2012-09-23 00:23] #96 closed, assigned to nobody

[2012-09-26 04:40] #94 closed, assigned to nobody

[2012-10-11 16:29] coolaj86 opened #98 "Using a number (i.e. 42) for a category causes error"
[code]

Change category to to `42`.

[code]

Change category to `"42"`.

[code]

[2012-10-14 15:07] gwijayas opened #99 "ruhoh theme command not found"
After reading the doc at http://ruhoh.com/usage/theming/#toc_12,

[code]

Yes, I've checked with `ruhoh help`, there is no 'theme' commands

[2012-10-14 15:15] ramnathv commented on #99
This has been deprecated. Read http://ruhoh.com/latest-updates/

[2012-10-14 20:26] ramnathv opened #100 "Asset Path while Publishing to Github Pages"
This issue might have been already resolved in one of the issues, but I was unable to find a clean answer and hence the reason for posting this. The example I have is reproducible. Here is what I did

[code]

Basically, I generate a ruhoh blog locally, push the compiled directory to the root of a gh-pages branch (using force) and then removing the .git directory since I don't want to be tracking g

[2012-10-14 20:49] plusjade commented on #100
Have you tried setting the `base_path` config variable?

Sorry I don't think this is covered in the official docs site but is available in the latest updates feed: http://ruhoh.com/blog/releases/ruhoh-version-1-0#toc_4

For your example, hosting on http://ramnathv.github.com/testbook

[code]

[2012-10-15 00:28] ramnathv commented on #100
Yes that works. The only modification I had to make is that I had to switch into `compiled/testbook` and then do the git dance to push my blog.

[2012-10-16 19:01] amorphid opened #101 "USERNAME.ruhoh.com doesn't update when making commit to private GitHub repo"
I created a private repo and couldn't deploy to USERNAME.ruhoh.com.  After making the repo public, I still couldn't deploy.  However, after creating a virgin public repo and pushing to that (sounds wrong), the deploy to USERNAME.ruhoh.com.

TL;DR -- deploy to private repo doesn't seem to work.

[2012-10-16 19:07] plusjade commented on #101
Haha, that's funny!

post.ruhoh.com does not ask for read/write access on your private repos so it can only pull from public repos.

It would in fact, be a nice thing to support private repos though since post.ruhoh.com already asks for GitHub authentication, it's just a matter of asking for read/write.

I take it you would want something like this?

[2012-10-16 19:08] ramnathv commented on #101
I would use a `makefile` to automate deployment of private github repos. I got one working, so let me know if you need a `makefile`.

[2012-10-16 19:15] amorphid commented on #101
I would private repo support, yes :).  However, I'm also exploring other
hosting options with a higher SLA, so don't kill yourself just to please
lil old me!
On Oct 16, 2012 12:10 PM, "Ramnath Vaidyanathan" notifications@github.com
wrote:

[2012-10-16 22:52] brandonparsons commented on #101
@ramnathv Are you able to share your `makefile` with me?  I think it might be useful for what I'm working on.  `parsons dot brandon at gmail dot com`

Cheers!

[2012-10-16 23:01] plusjade commented on #101
@ramnathv perhaps you can link to a public gist?

[2012-10-16 23:37] ramnathv commented on #101
Here you go. https://gist.github.com/3890278

Let me know if you are having any trouble using this approach. I saw it online in a different context, and will add a reference.

[2012-10-23 12:34] floer32 opened #102 "feature - ignore files ending in ~"
Text editors like gedit save back up files whose extensions end in ~ (like .md~). It is common to set up a .gitignore for these. By doing this, these duplicate posts won't make it to the real blog.

But I wonder, is it easy enough to make ruhoh ignore these when serving the development version of the site? I'm new to Ruby (coming from Python) so I don't know if this is more an issue with rackup or

[2012-10-23 17:16] plusjade commented on #102
You can use the `posts["exclude"]` and `pages["exclude"]` configuration settings as outlined here: http://ruhoh.com/usage/configure/#toc_14

In your case:

[code]

One user had this exact same issue and this was added specifically for this use case! Let me know how it goes.

[2012-10-26 01:01] #102 closed, assigned to nobody

[2012-10-26 23:38] floer32 commented on #102
smh Of course! Should have read more of the docs.

[2012-11-02 15:38] themindfulbit opened #103 "RSS generates full-page code instead of just content"
If you leave the description field blank on a post, the existing RSS feed generator renders the entire page, including the header, footer and sidebar. This can be distracting, and it's common for blog RSS feeds to only include the bare content for each post.

The code that governs this behavior is found in the file `/lib/ruhoh/compilers/rss.rb` on line 29:

[code]

With a slight change, the RSS fe

[2012-11-02 19:36] plusjade commented on #103
Ah yes, this problem was addressed and fixed in [this commit](https://github.com/ruhoh/ruhoh.rb/commit/9dd7c146d8fd9b65aacb74a4c798ae5a6bc41064). Issue #86 discusses the solution.

Unfortunately I have not bumped the gem version in some time =/ as I'm working on ruhoh 2.0. You might try bundling the gem from github which will give you the most recent changes:

[code]

Let me know if this helps!

[2012-11-03 18:47] themindfulbit commented on #103
Works perfectly, sorry I missed the earlier issue.

The new code solved everything (including the mustache problem) and is far more elegant.

Thanks!

[2012-11-04 01:47] #103 closed, assigned to nobody

[2012-11-04 01:47] #99 closed, assigned to nobody

[2012-11-04 02:02] plusjade commented on #75
Single page/post compile is officially supported in [ruhoh 2.0](https://github.com/ruhoh/ruhoh.rb/tree/2.0.alpha). You can see the rough implementation outline in the [db.rb](https://github.com/ruhoh/ruhoh.rb/blob/2.0.alpha/lib/ruhoh/db.rb) file.

In a nutshell ruhoh 2.0 lazy-loads everything. There is no longer any need to manually update the database. In this way we get dependency resolution for

[2012-11-04 02:02] #75 closed, assigned to nobody

[2012-11-04 03:50] plusjade commented on #74
Widgets are now low-priority in favor of building a more integrated plugin system. This is more along the lines of how you want to be able to define ruby methods within widgets. I still don't have a good interface for widgets, but am working on it! =/

[2012-11-04 03:50] #74 closed, assigned to nobody

[2012-11-04 03:50] #44 closed, assigned to nobody

[2012-11-04 04:01] #100 closed, assigned to nobody

[2012-11-04 04:02] plusjade commented on #56
Use base_path for name-spacing your blog into sub-directories: https://github.com/ruhoh/ruhoh.rb/issues/100

[2012-11-04 04:02] #56 closed, assigned to nobody

[2012-11-05 01:17] jellelicht commented on #98
I might be misunderstanding something here, but why would you _ever_ want to have a number as the name of a category?

[2012-11-05 15:09] coolaj86 commented on #98
Well, for example, I want a category called "42" for my philosophical rants about Life, the Universe, and Everything.

Besides, what I want to use it for doesn't validate or invalidate the fact that there's a bug.

[2012-11-05 15:34] coolaj86 commented on #98
Or maybe I'd like a category 0 to blog about all the null pointer exceptions I encounter. Or 777 for my gambling escapades. Or 1337 for the things that are awesome about me.

Or maybe I'm really into Sesame St and The Count really gets me on a role with today's episode sponsored by the number 12.

The possibilities are almost as limitless as the numbers.

[2012-11-05 17:07] plusjade commented on #98
in ruby fixnums cannot be hash keys.   I can automatically use .to_s  on all category names but i then you are still left with the expectation that integers work when in fact the system has mutated them to strings.  so trying to access the category via a number would fail.  since the category hash is just a primitive there isn't a good way for ruhoh to silently handle type conversion.

long story

[2012-11-05 17:11] coolaj86 commented on #98
Then the error message should be changed then. It was very surprising to
find that that long error was because of the category name.

Sent from my iPhone

On Nov 5, 2012, at 10:07 AM, Jade notifications@github.com wrote:

in ruby fixnums cannot be hash keys. I can automatically use .to_s on all
category names but i then you are still left with the expectation that
integers work when in fact the sy

[2012-11-05 17:22] plusjade commented on #98
yes you are definitely right about that!

[2012-11-18 03:21] #41 closed, assigned to nobody

[2012-11-20 00:21] ramnathv commented on #60
I am still unable to get this working. I moved my script to `/usr/local/bin` so that it is in the global path. I tested it in `irb` and it worked

[code]

However, when I use it as a plugin, ruhoh hangs. Here is my plugin code

[code]

Note that when I replace backticks with a system call, ie `system("knit2html", content)`, compilation works, but instead of the html output, I am just getting `true

[2012-11-20 00:30] plusjade commented on #60
Using `system` won't work because it only returns true/false relative to the success/failure of the call.
Maybe you can try the `%x[]` syntax: http://stackoverflow.com/questions/690151/getting-output-of-system-calls-in-ruby#comment17970623_4278899

Let me know if that works.

[2012-11-20 00:34] ramnathv commented on #60
I tried `%x[knit2html "#{content}"]`. It works in `irb` but not inside the plugin. I am not sure why it hangs.

[2012-11-22 14:08] YounesCheikh opened #104 "add other directories to the root of my website"
hi
i have a folder on the root of my website contains files that are linked by other websites
the folder named portail_files on my  git repo:

 [https://github.com/cyounes/cyounes.ruhoh.com/tree/master/portail_files](https://github.com/cyounes/cyounes.ruhoh.com/tree/master/portail_files)

but when i try to access to files that contains:
[http://cyounes.com/portail_files/boxman1.png](http://cyounes

[2012-11-22 18:51] plusjade commented on #104
the root of the website is in /pages not on the root of the blog.

ruhoh takes a white list approach, so the page folder namespace  is used to say "I want to serve these pages".
just drop your folder into pages and it should work.

[2012-11-22 19:33] YounesCheikh commented on #104
The same problem, when i move the folder into /pages/ and try to start `rackup -p 9292` i get this error message:

[code]

Also i tried to push the files to my [github repo](https://github.com/cyounes/cyounes.ruhoh.com/tree/master/pages)  and there were no changes on the [site](http://cyounes.com/portail_files/boxman1.png) :(

[2012-11-25 21:26] YounesCheikh commented on #104
the same problem if want to upload the html file to validate my website on google webmaster :(
[link](http://cyounes.com/google09632f5fdc088cac.html)

[2012-12-01 19:27] kyleroche opened #105 "Error on rackup?"
Just installed today. Moving from Jekyll. Got this:

Kyles-MacBook-Pro:kyleroche.ruhoh.com kyleroche$ rackup -p 9292
/Library/Ruby/Gems/1.8/gems/ruhoh-1.1/lib/ruhoh.rb:2: uninitialized constant Encoding (NameError)
    from /Library/Ruby/Site/1.8/rubygems/custom_require.rb:60:in `gem_original_require'
    from /Library/Ruby/Site/1.8/rubygems/custom_require.rb:60:in`require'
    from /Users/kyleroc

[2012-12-01 19:56] #105 closed, assigned to nobody

[2012-12-01 19:56] plusjade commented on #105
Looks like you are using ruby 1.8.x. Can you run 1.9.x at all? ruhoh is built and tested on 1.9.x and does not officially suport 1.8.x =/

[2012-12-01 19:57] plusjade commented on #105
Just saw you close it, did you get it fixed?

[2012-12-01 22:04] kyleroche commented on #105
I did. Thanks. (new to ruby. i'm a scala guy) Great work, btw. I'm already
posting: kyleroche.ruhoh.com

On Sat, Dec 1, 2012 at 12:57 PM, Jade notifications@github.com wrote:

[2012-12-03 16:17] ghost opened #106 "Implementing Rack::Builder"
I'm trying to create a plugin that just adds REST routes/logic for a Backbone.js model inside a widget which binds data to a page. Since I didn't see a direct interface for this, I just modified config.ru.. I lose the assets when I do this:

[code]

What do you think is a good way to go about this?

[2012-12-03 16:42] kyleroche opened #107 "Markdown tables?"
I can't seem to get markdown table formatting to work. Is there a different syntax guide for what is supported? For example, this won't render for me in a post:

| First Header | Second Header |
| --- | --- |
| Row1 Cell1 | Row1 Cell2 |
| Row2 Cell1 | Row2 Cell2 |

[2012-12-03 20:07] kyleroche commented on #42
Can this work w/ teams? Or, would you have time to manually map a custom domain to a team account? I have a team account /m2mio that has a Ruhoh repository. But, all users are associating w/ their own accounts by default.

Thanks!

[2012-12-04 06:21] plusjade commented on #106
This is what `Ruhoh::Program.preview` does: https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/program.rb#L14-51

You are probably better off copy/pasting the above logic into your config.ru file and then adding in your custom logic.

The problem with your specific example code is that rack works from the top to the bottom. So if you have `map '/'` first, then it will always match and never g

[2012-12-04 22:08] kyleroche opened #108 "mapping subdomain to Github Group"
Hi, my personal site works fine. I am a member of a github team, however. http://post.ruhoh.com doesn't seem to allow the option to map my team's site to Ruhoh.

Do I need to make a second github account just for this purpose?

Thanks!

[2012-12-06 12:15] YounesCheikh commented on #107
I have the same problem :tractor:

[2012-12-09 04:34] nbardy opened #109 "In theme directories containing a .haml and .html file; the .haml is being prioritized"
The theme contains a default.html an a default.haml
https://github.com/DivisibleZero/DivisibleZero.ruhoh.com/tree/master/themes/simple/layouts

The [page](https://github.com/DivisibleZero/DivisibleZero.ruhoh.com/blob/master/themes/simple/layouts/page.html#L2) and [post](https://github.com/DivisibleZero/DivisibleZero.ruhoh.com/blob/master/themes/simple/layouts/post.html#L2) layouts use "default" as

[2012-12-09 20:31] Aetherpoint opened #110 "Adding .htaccess on Compiling Theme?"
Great job with Ruhoh, loving it so far.

I'm more of a designer / front end developer and ruby is new to me. I'm trying to add an .htaccess (it lives in my theme folder. I'm using a php concatenator (Scott Jehl's Quickconcat) to combine my CSS and JS files. I'm also using .htaccess to gzip and clean up URLs.

![Screen shot 2012-12-09 at 3.33.53 PM.png](https://f.cloud.github.com/assets/1461471/261

[2012-12-11 23:25] mattrobbins commented on #54
I am using Ruby 1.9.3 and I am getting this error. Trying the instructions above to see if it works.

[2012-12-18 21:47] karfau opened #111 "Extending "active_page"-Mechanism for "sup-pages"/posts?"
My scenario:
I got links to posts or "sub-"pages in some of my pages.

My "feature-request":
I would like the "active page" to be "sticky", so the page in the navigation is also rendered as active for those sub-pages/posts.

My Idea:
In the yaml-part of the post/sub-page I define an attribute "activate" (or "active_page") which contains the id of the page that should be marked as active.

I don't

[2012-12-18 23:06] karfau commented on #111
I managed to write a simple plugin to accomplish my goal:

[code]

but the pages_list-template looks really stupid now:

[code]

I hope there is a better way to integrate such behaviour?
Is it be possible to extend/overwrite the mark_page_active method via plugins?

[2012-12-20 20:59] karfau opened #112 "Problems with mustache values/helpers in widgets"
I just tried to use the `?to_json`-Helper inside a widget-layout:

[code]

This always returns an "empty text".
using any property from the config.yml directly works as expected.

Are the helpers / is this helper available for the widgets?

The other thing I recognized `config` seems to be the only payload given to the widget.
I would like to include

[code]

so that a path in the config.yml can b

[2012-12-20 22:10] plusjade commented on #112
@karfau you are right, the entire environment is _not_ passed to the widget context. It was done that way for simplicity's-sake but does present problems.

I plan on overhauling the widget system in ruhoh 2.0. which I now finally working on documentation for. Hope to have it out over holiday break.

[2012-12-21 20:30] karfau commented on #112
When you are talking about "having the documentation out over the holiday break", and looking at the existing branches, it looks like you are talking about documentation on existing 2.0 code. _cool_

I really like this project and if I can be of any help for contribution (be it 1.1 or 2.0), just ask.
(But keep in mind, that my ruby-"experience" starts with looking at the code you wrote ;) )

I jus

[2012-12-21 20:58] plusjade commented on #112
It is a complete rewrite of the codebase. So internally it is completely different (I'd like to say better). Refreshingly though, the core public API is pretty similar.  The mustache methods have changed _a little_. They are indeed different but I think they are more logical, cleaner and make way for much easier level of customizability.

I'll save trying to explain everything and just hope the ne

[2012-12-21 22:02] karfau commented on #112
That would be great, as long as my current project is still small.
but to stay productive if some things don't work, i think I would like to be able to run both  version in parallel.
(hoping the pages and templating-stuff can stay "mostly the same"...)

Maybe an important part of those docs should be a migration guide, especially running 1.1 as gem and 2.0\* from ruby-code that is checked out from

[2012-12-22 08:17] jacobmgreer commented on #112
I also look forward to testing it out once the documentation is ready! :)

[2012-12-26 22:59] pasindud commented on #57
I am new to ruby but here is something i did user can using by {{{ posts_count }}}

Commit - 5bc3e6bfb390b4a5b07af9956e1d6335bf0fabc9

[2012-12-27 23:53] jamshid opened #114 "Default mobile-friendly view?"
The default style is hard to read on a mobile -- the text is small, and it doesn't display nicely like most sites do today. Seems a blog has to be mobile friendly by default. Does someone just need to create a mobile theme or modify the existing layout?

[2012-12-29 22:25] torrentkino opened #115 "Privacy issue"
Hello,

I tried ruroh. There are many things I like, but I also have some issues with the default theme. Disabling Google Analytics and Disqus worked for me so far. But I had no luck with disabling Google Prettify. My webbrowser tries to contact the Cloudflare CDN every time I visit my test page. That is not a desired behavior for an intranet page. And sending the "Referer:" header to a third part

[2012-12-30 14:11] karfau commented on #115
I managed to get rid of google_prettify by removing the following line:
https://github.com/ruhoh/twitter/blob/master/layouts/default.html#L58
from theme/twitter/layouts/default.html with the content

[code]

if you would like to keep google_prettify without loading the js-file from the cdn you could provide another layout in widgets/google_prettify/layouts/[your_layout_name].html
which could be a

[2012-12-30 14:30] dvogeldev commented on #108
I too am unable to publish to http://USERNAME.ruhoh.com
I've set the webhook to post@ruhoh.com as did @kyleroche I receive an error message from USERNAME.ruhoh.com/log.txt "ERROR: Could not update Git repository"

[2012-12-30 19:19] karfau commented on #114
have you tried if the [hooligan-theme](https://github.com/ruhoh/hooligan) works better "on a mobile"?

[2013-01-03 14:26] 821 opened #116 "Publish without compiling"
I switched from Wordpress to ruhoh a few months ago. I feel that ruhoh is an ambitious project that wish to be compatible with many languages and platforms.
Now if we want to upload to platforms other than GitHub, the process will not be so convenient as GitHub. Speed of uploading will also be decreased since we will have to upload the whole site, rather than a few files that are changed.
On Jekyl

[2013-01-03 20:23] karfau commented on #116
+1 for every aspect of your post

I really learned to love how markdown helps to seperate content from layout in comparsions to what textile would make possible. (I use an extra optional attribute for style-classes for a specific post/page, that I have added to the layout, for additional formating.)
But I'm interessted in the answer about textile-support anyway.

[2013-01-06 05:20] plusjade commented on #112
@karfau @jacobmgreer you can try running ruhoh 2.0.alpha here: https://github.com/ruhoh/blog/tree/2.0.alpha#readme

Documentation will be up at http://ruhoh.com/edge.

Please test it and let me know if there is anything I missed. Thanks very much!

[2013-01-06 05:52] plusjade commented on #106
This above is ruhoh 1.x code

ruhoh 2.0.alpha program for rack builder is here: https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/programs/preview.rb

[2013-01-06 05:52] #106 closed, assigned to nobody

[2013-01-06 05:57] plusjade commented on #6
Funny thing I learned during this project: JSON is valid YAML as long a the entire YAML document is JSON.

Example:

**File: theme.yml**

[code]

source: https://github.com/ruhoh/blog/blob/2.0.alpha/themes/twitter/theme.yml

Would be possible to allow a setting for working with .json and .yml files, but as you mentioned, not really a high priority.

[2013-01-06 05:57] #6 closed, assigned to nobody

[2013-01-06 06:03] plusjade commented on #33
Pagination is finally supported in ruhoh 2.x =)

Docs: http://ruhoh.com/edge/usage/posts/#toc_5

This will probably change so here's a quick and dirty implementation:

[code]

[2013-01-06 06:03] #33 closed, assigned to nobody

[2013-01-06 06:06] plusjade commented on #112
Closes this in favor of sticking to the previously existing conversation on "full contexts in widgets environment" at #52

[2013-01-06 06:06] #112 closed, assigned to nobody

[2013-01-06 08:07] #47 closed, assigned to nobody

[2013-01-06 08:57] plusjade commented on #57
I'm an idiot. Counting has always been available via Mustache. Assuming you are working with an Array or Hash you can simply call ruby's native `count` or `length` method via Mustache:

ruhoh 1.x

[code]

ruhoh 2.x

[code]

[2013-01-06 08:57] #57 closed, assigned to nobody

[2013-01-06 09:02] #66 closed, assigned to nobody

[2013-01-06 09:05] plusjade commented on #70
+1 I'll keep this open in hopes it inspires a plugin that allows for RSS-on-steroids so to speak. Thanks for the great suggestions (and sorry for the absurdly late reply).

[2013-01-06 09:11] plusjade commented on #81
Persisting results from this thread in the wiki: https://github.com/ruhoh/ruhoh.rb/wiki/Useful-Tips

[2013-01-06 09:11] #81 closed, assigned to nobody

[2013-01-06 09:12] plusjade commented on #98
The code that caused inaccurate error messages above has been removed in ruhoh 2.x

[2013-01-06 09:12] #98 closed, assigned to nobody

[2013-01-06 09:16] plusjade commented on #91
@bartero sorry for the late reply. `base_path` functionality has been overhauled in ruhoh 2.x and should fix your particular bug. To run ruhoh 2.x: https://github.com/ruhoh/blog/tree/2.0.alpha#readme

Thank you for taking the time to document your issue.

[2013-01-06 09:16] #91 closed, assigned to nobody

[2013-01-06 09:20] plusjade commented on #101
Supporting private repositories should be the job of post.ruhoh.com. I'm closing this and adding it to [post.ruhoh.com issues](https://github.com/ruhoh/post.ruhoh.com/issues/4). Thanks!

[2013-01-06 09:20] #101 closed, assigned to nobody

[2013-01-06 10:00] plusjade commented on #104
This should now be fixed in ruhoh 2.x: https://github.com/ruhoh/ruhoh.rb/commit/7734a6aafb4d28c806c1169893354c290cadcec2

I'm assuming, based on the error, that ruhoh is expecting top YAML metadata for every page file. However it should still work without it. You'll still need to specify `layout:false` if you want to omit any layout rendering though.

[2013-01-06 10:00] #104 closed, assigned to nobody

[2013-01-06 10:23] jacobmgreer commented on #57
+1

[2013-01-06 10:46] jacobmgreer opened #117 "ruhoh 2.0 bundle install error"
The bundle install error is:

"The path /Users/jade/Dropbox/gems/ruhoh does not exist."

where is the typical path for this? i see it in the gemfile

[2013-01-06 11:11] jacobmgreer commented on #117
Ok, so i got it to work. I download this as a zip and put it into the gem folder. Then changed the path to that location. It worked! :D

[2013-01-06 11:11] #117 closed, assigned to nobody

[2013-01-06 11:28] jacobmgreer opened #118 "ruhoh 2.0: create new theme"
bundle exec ruhoh theme "pizza"

is:

WARNING: Nokogiri was built against LibXML version 2.7.3, but has dynamically loaded 2.7.8
/Library/Ruby/Gems/1.8/gems/ruhoh-2.0/lib/ruhoh/resources_interface.rb:39:in `const_get': uninitialized constant Ruhoh::Resources::Theme::Client (NameError)
    from /Library/Ruby/Gems/1.8/gems/ruhoh-2.0/lib/ruhoh/resources_interface.rb:39:in`block (2 levels) in class:Re

[2013-01-06 12:27] jacobmgreer opened #119 "ruhoh 2.0 templating issues"
the rumored {{posts.categories.all.count}} doesn't seem to be working

also {{urls.theme_media}} isn't making a url

[2013-01-06 12:40] jacobmgreer commented on #119
figured out the counting problem

but still the urls.theme_media problem

[2013-01-06 12:48] jacobmgreer commented on #119
additionally, is markdown rendering in .md files outside of posts folder?

[2013-01-06 13:09] bartero commented on #91
Thanks for the fix!

[2013-01-06 13:13] jacobmgreer commented on #119
another template issue with layouts.

layout specified in post doesn't seem to be selecting specified layout.

[2013-01-06 20:36] plusjade commented on #117
Oops, `/Users/jade/Dropbox/gems/ruhoh` is my local path I use to run my development gem.

It should be:

[code]

https://github.com/ruhoh/blog/commit/6ff797a613c241a94d857533b1b901c533da8e4d

=x

[2013-01-06 20:47] jacobmgreer commented on #117
:+1:

[2013-01-06 20:48] plusjade commented on #118
I took out the theme scaffold as I kept forgetting to update the scaffold as the API changed. I can add it back in if there's a need.

In any case, the command is wrong. All client commands are namespaced by their resource. So any command having to do with "themes" resource would be `ruhoh themes some-command some-arg`

In this case (though this doesn't exist):

[code]

[2013-01-06 20:48] #118 closed, assigned to nobody

[2013-01-06 21:40] plusjade commented on #119
`urls.theme_media` is deprecated in favor of just using `urls.theme` and drilling into the arbitrary directory structure.

So you would do something like:

[code]

You can see all the available url paths by running console:

[code]

Which directory specifically? Note every directory is acting as a namespace for a given resource. So the resource implementation has total control over how the files i

[2013-01-06 21:42] jacobmgreer commented on #118
it's not really needed, it's probably more practical to make it in finder (which i did after the error)

[2013-01-06 21:43] plusjade commented on #118
What is finder?

[2013-01-06 21:45] jacobmgreer commented on #118
:D this thing outside of terminal on a mac.

[2013-01-06 21:50] plusjade commented on #108
Moving to [post.ruhoh.com issues](https://github.com/ruhoh/post.ruhoh.com/issues/5)

[2013-01-06 21:50] #108 closed, assigned to nobody

[2013-01-06 21:52] jacobmgreer commented on #119
it's not doing markdown on a .md files in pages. also in a folder i made called "stamps" which rendered the markdown in ruhoh 1. is there documentation on making a new resource/namespace?

[2013-01-06 21:56] jacobmgreer commented on #119
posts with a specified layout don't seem to be rendering markdown either.

[2013-01-06 22:04] plusjade commented on #119
I'm downloading your blog and seeing if I can reproduce the errors.

With my personal setup I am able to parse markdown on pages and on posts with a custom layout. Can you post some relevant code or push what you have to GitHub so I can take a look?

What is the exact output? Is it the raw contents of the file? Does it have HTML but it's jus not rendering it?

Also, are you rendering content with

[2013-01-06 22:26] jacobmgreer commented on #119
Ah, the triple mustache syntax was the problem! Success!

[2013-01-06 22:26] #119 closed, assigned to nobody

[2013-01-07 06:56] motord opened #120 "uninitialized constant Ruhoh::Resources::Base"
[code]

[2013-01-08 04:05] webmasterkai opened #121 "Contents of /media should be copied to /compiled/assets/media with version 2.x like it did with 1.x"
Thanks for the update! It's really exciting.

When I do a clean install, add a file to /media and run compile it doesn't seem to copy over.

[code]

I wish I knew ruby so I could try and figure it out.

[2013-01-08 07:15] plusjade commented on #121
@webmasterkai thanks man! Oversight on my part: https://github.com/ruhoh/ruhoh.rb/commit/db4cdbda8608bb7dbb108cb52cbc91324e15dec8

To update, I think you just delete `Gemfile.lock` then run `bundle install` again. (The reason is I am not updating the version number on every change so bundler will assume the version is current and not re-download the HEAD from github)

Please try your test again an

[2013-01-08 14:25] tlupfer opened #122 "Paginator should use root_page for first page in version 2.x"
Seems that it's ignoring the root_page setting and assuming '/' for the first page.

[2013-01-08 14:31] tlupfer commented on #122
Nevermind. It hadn't reloaded the configuration file. It still seems like strange behavior to require an additional page for the first group of posts.

[2013-01-08 14:31] #122 closed, assigned to nobody

[2013-01-08 15:03] webmasterkai commented on #121
You are awesome! Works perfectly.

Thanks for all of your work on Ruhoh. It's my favorite.

For the record this was my process of updating. It worked just like you suggested.
From the website root:
    $ rm Gemfile.lock
    $ bundle install
    $ rm -rf compiled/*
    $ bundle exec ruhoh compile
    $ ls compiled/assets/media
    all.png of.jpg my assets.pdf

[2013-01-08 15:03] #121 closed, assigned to nobody

[2013-01-08 23:23] webmasterkai opened #123 "{{urls.theme_media}} should work in v 2.x like it did in 1.x"
I might be doing something wrong, but I think {{urls.theme_media}} isn't working correctly. I tried using in a layout file and it doesn't get replaced by anything. I tried {{urls.media}} and that works fine. I'll create a more detailed bug report if needed. Thanks again for this great tool!

[2013-01-08 23:29] webmasterkai commented on #123
See comment https://github.com/ruhoh/ruhoh.rb/issues/119#issuecomment-11934727

urls.theme_media is deprecated in favor of just using urls.theme and drilling into the arbitrary directory structure.

So you would do something like:

[code]

You can see all the available url paths by running console:

[code]

[2013-01-08 23:29] #123 closed, assigned to nobody

[2013-01-09 03:49] plusjade commented on #121
@webmasterkai just glad you use it!  Thank you for contributing.

[2013-01-09 06:50] plusjade commented on #122
@tlupfer definitely right. I fixed the problem highlighted by you as well some some others after I investigated more. You can take a look at commits from https://github.com/ruhoh/ruhoh.rb/commit/8e69a3363c9b49adb3e2ef77a99bc92169890e8e to  https://github.com/ruhoh/ruhoh.rb/commit/38c7c79e8ab5a64a0c465844e4d0c1edf837a8e6

The blog scaffold has been updated to not provide default 'root_page' in conf

[2013-01-09 07:10] douo commented on #120
same issue.
I found it cause by the require order of the resources file.

change

[code]

to

[code]

in this [line](https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/resources_interface.rb#L2) will fix it.

[2013-01-09 07:29] douo opened #124 "Add a new option to specify ruhoh base path"
It is very useful when I need to create a post in any directory (EX:  `~ » ruhoh -b ~/blog posts new` ). I found  `Ruhoh#setup` already access this argument but the CLI still lack of this option.

[2013-01-09 07:42] #120 closed, assigned to nobody

[2013-01-09 07:44] plusjade commented on #120
@douo thanks for the help. Looks really simple when you point it out!

@motord please verify it works by updating the gem:

[code]

[2013-01-09 08:41] motord commented on #120
Fix verified.
Thanks @douo @plusjade

[2013-01-09 16:39] tlupfer commented on #122
@plusjade thanks for the follow-up. I'm really excited about the direction of this project. Your responsiveness and vision have made it pretty awesome thus far. Keep it up!

[2013-01-11 22:52] binaryphile commented on #107
The default markdown parser doesn't support table syntax, but kramdown does.  The docs include directions on how to enable kramdown parsing.

[2013-01-11 23:10] binaryphile opened #125 "CSS syntax highlighting doesn't work"
Google Prettify doesn't seem to recognize CSS as one of its languages.  I tried adding the lang-css.js script which the prettify docs talk about, but it still didn't work for me.

I'd think a lot of bloggers might want to talk about CSS and have it highlighted like html is.  Any chance we could see if this would be an easy fix?

I'm on ruhoh 1.1.

Thanks!

[2013-01-12 03:28] webmasterkai opened #126 "Best place to add new types of content? Within /pages or create a new root directory?"
I've been using Ruhoh to build up some quick and easy sites. For small business sites it's a total win over using a CMS. As I get into building increasingly complicated sites I'm beginning to think about where I would add different types of content. Since you have "pages" and "posts" in different directories it would seem to imply they are different types of content. Where then would I put content

[2013-01-14 12:03] mlippautz opened #127 "compile ignores base_path for media/ folder"
ruhoh seems to ignore base_path for the media/ folder in the latest version. The media folder under themes/<theme>/media is copied over correctly (with base_path prepended).

spec: 2.0.alpha
ruhoh.rb: 910e74a82e52ab7ed70e6aac6da84077b778f143

config.yml:

[code]

Test:

[code]

[2013-01-16 04:11] #127 closed, assigned to nobody

[2013-01-16 04:12] plusjade commented on #127
Good catch @zoidrr, thank you for helping me test this stuff.

[2013-01-18 00:53] jacobmgreer opened #128 "post orders in a specific category"
I'm using category specific lists on my archive, but when i use the posts?to_posts, the order is all weird. seems to be alphabetical on my machine and not sure what's happening on trendsient.com/categories

I don't see a way to force reverse chronological, it may also just be a bug.

https://github.com/jacobmgreer/jacobmgreer.ruhoh.com/blob/master/pages/categories.html#L12

[2013-01-18 01:09] plusjade commented on #128
`to_posts` converts an array of ids to their respective post objects; as such, what it is really working with is an Array of ids. The resultant order of the posts is the order of the array. The reason this has to be that way is in the case you have custom data, such as a navigation menu:

[code]

[code]

should preserve the order of the array.

To properly sort posts/pages objects I've implemented

[2013-01-18 17:28] karfau commented on #128
Are we losing contact to language-independent templates here?
maybe it would be more clear for the user if there would be another helper for this case, like
`{{# posts?to_posts_sorted }}
...
`
just my 2 cents :-)

[2013-01-19 01:51] jacobmgreer commented on #128
this has been a delightful crash course in understanding mustache and ruby. i'm hoping to understand enough to work on a ruhoh plugin soon :smile_cat:

[2013-01-20 20:17] jacobmgreer opened #129 "problem with new ruhoh build?"
After updating to alpha3, this error is showing up when running

bundle exec rackup -p 9292

when i try to access the blog on localhost -->

NoMethodError: undefined method `mark_active_page' for #Ruhoh::Views::MasterView:0x007fe2edce9348

[2013-01-20 20:26] plusjade commented on #129
Sorry about that; `mark_active_page` is no longer needed so I removed it. This update should do it: https://github.com/ruhoh/blog/commit/dfc8a66c8e864f175acbaa6c851eddab158c407d (you can update your end manually)

[2013-01-21 00:43] plusjade commented on #128
@karfau you are definitely right -- that is something I had not considered.I honestly don't have an answer right now.

While I do think it is important to be language agnostic, I realize it is pre-optimization for language implementations that don't exist yet. This will stick in the back of my mind, but I think for now I want to get the rubyists as happy as possible and then figure out how to take

[2013-01-21 03:57] #129 closed, assigned to nobody

[2013-01-21 04:01] #128 closed, assigned to nobody

[2013-01-21 20:45] karfau commented on #128
@plusjade That's a good point.

I'm no rubyist, but I'm happy to if this gets a success, and I like things that just work the way they do :)

[2013-01-25 17:18] coolaj86 opened #130 "[feature] short link urls for cross-referencing"
I'm often linking from one blog post to another.

/posts/vim-for-people-who-dont-want-to-learn-vim.md:

[code]

It would be nice if there were a shorturl I could use like ["long tite"][vim-docs] and ruhoh would replace all occurrences.

/posts/how-to-edit-etc-passwd:

[code]

[2013-01-25 17:20] coolaj86 opened #131 "bundle exec ruhoh posts new "Some Title" doesn't set 'title: "Some Title"'"
'nuff said

[2013-01-25 17:24] coolaj86 opened #132 "compiling becomes crazy slow"
Once you import more than a few dozen articles from your old blog, compiling becomes wicked slow.

It seems that having a `./caches` and `./compiled` and changing the logic so that if a post hasn't changed it gets copied instead of recompiled would make sense.

Good idea? Bad idea?

[2013-01-25 19:15] plusjade commented on #132
Great idea!

### Internal Caching

Generic object caching is easy enough to do it just hasn't been implemented. It should give a significant boost to the compile task. Basically, whenever you reference any kind of resource from `ruhoh.db.` it gives you a fresh version for the sake of previewing it. However in compile mode it should generate the resource only once and serve a cached version for any

[2013-01-26 03:22] coolaj86 commented on #132
Thanks!

For the page-level caching it does make sense that if the layout the page changes that everything needs to be recompiled. However I think it would be fair to say that if you want to do crazy stuff with templates inside of a post you should pass a --no-cache option.

[2013-01-26 03:26] coolaj86 opened #133 "[feature] redirects for ruhoh-hosted blogs"
This is probably the wrong repository for this issue, so please point me to the right place, but I'd love it if ruhoh.com would handle the case of a blogger redirect in the format of

[code]

[2013-01-26 03:39] plusjade commented on #132
You wouldn't need to do anything _inside_ of a post for the rendered post-page to be invalidated. Drawing on the navigation example again, if I want to add an extra global navigation link inside of `default.html`, say my new twitter handle, well any post/page that uses that template needs to be updated. Point being it's kind of a never ending game of when to invalidate the cache.

[2013-01-26 03:43] plusjade commented on #130
Good idea. I'd always assumed I'd need to make it work with mustache, but you highlight an alternative solution:

We can use markdown's link references. I'm thinking find a way to append all of the short-links into every markdown page so all the references become available. Obviously this would only work for markdown pages though...

[2013-01-26 03:47] plusjade commented on #131
Omitting the title is intended behavior. Posts/pages that don't have a title use the filename for the title. Setting the title is meant to explicitly say "I am customizing my title." Now I have no idea if that is the _best_ way to go about it, but that's how it works now.

[2013-01-26 03:49] plusjade commented on #133
I'm not sure I understand? What is the incoming URL and what is the URL you intend to redirect to? Presumably http://whatever.blogspot.com has no way of resolving to a server in your control?

[2013-01-26 03:54] coolaj86 commented on #130
not having looked at the code I would suggest something like (excuse my psuedo code)

[code]

not sure if that would be too hackish

[2013-01-26 03:58] coolaj86 commented on #133
See the Overview section at http://blog.coolaj86.com/articles/migrate-from-blogger-to-ruhoh-with-proper-redirects.html and the video starting at about 9:25

[2013-01-26 03:59] coolaj86 commented on #133
Blogger allows you to use _meta refresh + rel=canonical_ redirects, but not true redirects.

[2013-01-26 04:07] coolaj86 commented on #131
I see where you're coming from. I noticed the default title behavior coming from the filename, but I thought that was odd because:

[code]

Intuitively I want to give it the title with capitalization and punctuation as I expect it to be, and then it is immediately lost and I am left with sadness in my heart as I have to type it out again.

[2013-01-26 04:19] plusjade commented on #131
Haha, yeah a fair point. That makes sense. I suppose there's no harm in hard-coding the title. I'll add this to my development schedule.

[2013-01-26 04:38] coolaj86 commented on #131
I'd also like to argue that "permalink: /path/to/file.html" should be set at creation as well. Once my content is published I may want to go back and tweek the title for SEO, but I'll have shared it on twitter, g+, etc so I don't want the url changing on me because I forget.

I argue that the burden of memory should be place in the system, not the user.

[2013-01-26 05:32] coolaj86 opened #134 "neither `urls.production_url` nor `production_url` refer to `config.yml:production_url`"
Seeing that `{{urls.base_path}}` refers to `config.yml:base_path`, I would would expect `{{urls.production_url}}` to behave similarly, or at least `{{production_url}}`.

Neither seem to have worked when I tested just now.

[2013-01-26 05:42] coolaj86 commented on #134
`grep`ing around a bit in `ruhoh.rb` I thought I had found the goldmine with `{{ site.production_url }}`, but neither that nor `{{ config.production_url }}` worked.

https://www.google.com/search?q=ruhoh+"production_url"

stumped

[2013-01-26 05:52] plusjade commented on #134
Yep, looks like that's my fault (for not having tests of course). There is currently no way to get production_url.
In ruhoh 1.0 the data was thrown into a `payload` object that mapped literally to a key/value hash of data e.g. site.production_url from the config.yml file.

In ruhoh 2.0 there is no payload, everything is dynamically loaded via method calls, so I'll have to make a sensible wrapper f

[2013-01-26 06:31] coolaj86 opened #135 "[feature] page.youtube -> page.player"
I'd like to paste my YouTube video id such as "ScBoaQw84Ks" and have that generate the embed url for twitter cards automatically.

posts/thing.md:

[code]

themes/twitter/layouts/default.html:

[code]

And I, personally will be customizing my post like this, since most of my posts will have videos

themes/twitter/layouts/post.html:

[code]

[2013-01-26 07:20] plusjade commented on #114
@jamshid @karfau sorry for the late reply but I wanted to actually, you know, deliver a solution!

I've updated the default 2.0.alpha blog with a new, minimal/clean fully responsive theme based on twitter bootstrap 2.2.2
 https://github.com/ruhoh/blog/tree/2.0.alpha

No preview of it yet but Jonathon Kram already customized it for himself here: http://www.jdkram.net/

[2013-01-26 07:35] #114 closed, assigned to nobody

[2013-01-26 07:47] coolaj86 opened #136 "how to access page.xyz in /themes/twitter/layouts/paginator.html?"
If I have

[code]

Then I want to be able to put an image by the title in the pagination, however, it isn't clear to me how to do this. I've tried `{{# page.screencast }}...` and `{{#screencast }}...`, but neither seem to work. I grepped around the code a bit, but didn't find an answer...

what the `with` is going on here? `{{title}}`, `{{date}}`, etc with no `page.` prefix

[2013-01-26 08:01] plusjade commented on #136
The paginated pages being rendered using paginator.html do not exist. Each is injected dynamically with an iterated page number in order create pages 1-n. Here's the logic: https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/resources/paginator/previewer.rb#L12-15

The YAML data, where exactly is it? Is it in the paginator.html file? If so paginator.html is a sub-layout of which there is curre

[2013-01-26 08:13] coolaj86 commented on #136
A few hours ago if you had visited http://blog.coolaj86.com you would have seen big bulky youtube videos taking up tons of real-estate for each post.

I just moved the showing the video logic into the post.html template so that the videos only show up when you access a post directly, such as http://blog.coolaj86.com/articles/migrate-from-blogger-to-ruhoh-with-proper-redirects.html

I still want th

[2013-01-26 08:24] plusjade commented on #136
Yep, makes sense. Your code is correct as seen here: https://github.com/coolaj86/blog.coolaj86.com/commit/c773a554cc858a69e244764193ec4d634ade998a

However the default blog actually uses "/' as the first page of the paginator (like a traditional old school blog). So if you look at index.html you'll see more paginator code: https://github.com/coolaj86/blog.coolaj86.com/blob/master/pages/index.html#

[2013-01-26 08:38] coolaj86 commented on #136
Ah, in my late-nightedness I missed a nuance. Thank you!

All is well!

[2013-01-26 08:46] coolaj86 commented on #134
Also, on the note of twitter cards, it would be useful to have a `page.tweet` that is `page.tweet || page.description || page.content[0, 140]`.

Twitter cards won't accept my application until I have the full url (so I'll just hack that in) and descriptions to my posts.

https://dev.twitter.com/docs/cards/preview

[2013-01-26 09:27] plusjade commented on #134
This looks great. I had no idea about this. Little niceties like this can aid in spurring interest. Please let me know how far you get with your implementation so we can merge it in. This weekend I'm set on pushing  asset-packaging support via [sprockets](github.com/sstephenson/sprockets) which has been a long-time coming. I also just pushed a new default theme at https://github.com/ruhoh/blog/tre

[2013-01-26 09:27] #136 closed, assigned to nobody

[2013-01-26 23:20] coolaj86 commented on #134
I have a pull request over on ruhoh/twitter for the meta tags.

https://github.com/ruhoh/twitter/pull/2

[2013-01-30 11:43] tlupfer opened #137 "ruhoh 2.0 significantly slower to compile?"
I've been noticing this for a while, but assumed it was something specific to my setup. However, I've reproduced it with different content, themes and machines. It is not really noticeable until the number of pages/posts is over 50 or thereabouts.

Compiling the same 230 posts/pages:

Ruhoh 1.1
real    0m5.964s
user    0m5.733s
sys 0m0.200s

Ruhoh 2.0
real    2m37.668s
user    2m35.952s
sys 0m1.04

[2013-01-30 20:16] plusjade commented on #137
@tlupfer thanks for the report. ruhoh 2.0 has significantly more overhead in terms of spawning new objects so it is going to take a performance hit compared to 1.1. However what's happening now is ruhoh is _not_ caching any of the objects so its creating them new every time they are needed. This is helpful when in preview mode because you'll always see the most updated data. However you don't want

[2013-02-10 19:03] coolaj86 opened #138 "[question] Multi-Author Blogs"
I have a community blog for which I'd like to put a pic and personal site link just above the categories area, which depends on page.author.

Since the same few people will contribute often, I don't want them to have to put pic, name, twitter, blog, etc in each post.

I'm not sure how to make such a meta-template. Is it possible with the current system?

[2013-02-12 21:06] karfau commented on #118
Well, the docs @ http://ruhoh.com/docs/2/themes/#toc_16 states

but neither this (prepended with ´´´bundle exec´´´) nor

[code]

works:
So it would be nice to either update the documentation (could as well be a 'work in progress, use your favorite tool to customize the existing one'-message)
or leave this bug open.

thx

[2013-02-12 22:37] karfau opened #139 "enhancing 'ruhoh resource new'"
Like what @coolaj86 says in #131 I just thought about something:
when just typing

[code]

this could enable an interactive console,
that asks for each value that is found in the scaffold-yaml-config that is empty or has a value that marks it as "ask the user".

For better understanding for a scaffold file for pages like this

[code]

a console dialog could look like this:

[code]

I'm looking for

[2013-02-12 23:10] plusjade commented on #139
Definitely agree. The client commands are actually mapped to a resources `Client` class (search for `client.rb` to find them). This means you just have to write a normal ruby method and it will automatically be exposed to the client via `$ ruhoh <resource> <method> <args>`.  This foundation lets you do exactly what you are talking about. Ideally you'd just make a base interface class that all the

[2013-02-12 23:35] karfau commented on #139
ok, sounds like something nice to get my hands on ruby with :)
I'll see when I have the time to do this.

[2013-02-12 23:48] karfau opened #140 "ruhoh compile with basepath in config.yml should only delete the basepath, not the whole relative directory"
When I set a basepath in config.yml and call compile with a path that is the root that gets synced to the server, the ruhoh compile-call attempts do delete the whole directory instead of the basepath.
Wich makes it an extra step for each compile to get the files to the correct local directory.
It would really be nice, if only the the basepath would be deleted.

[2013-02-15 09:32] plusjade commented on #138
This is not supported but it might be a good idea to add it in. Here's what I'm thinking:

**data.yml**

[code]

**my-post.md**

[code]

**post.html**

[code]

I can make it nicer by converting to data internally via a helper method. This way `page.author` would internally lookup an `authors` data hash in data.yml, and find and return the relevant author data hash if it exists.

So the API would b

[2013-02-15 09:33] plusjade commented on #135
Sorry for ignoring this. It's a good idea and useful, I just need to ship a damned stable version before I personally get to play with making cool addons =/

Logging this here for when the day comes though =)

[2013-02-20 16:12] bjornmeansbear commented on #126
Good question. I've also been curious about creating different “content types.” I understand the difference between Pages and Posts in ruhoh, but I do not understand how to make different “content types” within the posts. One way conceivably would be with categories/tags, and then filter a view accordingly — accept that I sort of need to use those already AS categories and tags for their regular p

[2013-03-06 16:07] zjhui opened #141 "How to upgrade ruhoh 1.1 to 2.0.alpha."
I have set up the ruhoh with github pages, but the  version is 1.1, i want to upgrade it to 2.0.alpha. Then i follow the [2.0.alpha readme](https://github.com/ruhoh/blog/tree/2.0.alpha#readme), copy the [Gemfile](https://github.com/ruhoh/blog/blob/2.0.alpha/Gemfile) into my local blog directory and run bundle install.
Then i find it has many differents between 1.1 and 2.0 like config.yml and many

[2013-03-16 15:55] webmasterkai commented on #126
## [Everything is a Resource](http://ruhoh.com/docs/2/#toc_2)

"You can read a more in-depth"...

[2013-03-20 00:46] Aetherpoint commented on #126
I also ran into this since i'm looking to create "portfolio-casestudy entries" with Ruhoh. I tried that with post categories, and i'm having trouble using pagination along with category filtering (is this possible?). It would be awesome to be able to assign different types of post content and deliver them to their appropriate layout. I'm just not sure how to do this fro with documentation.

I don'

[2013-03-22 02:14] chadkouse opened #142 "Exception with directory_watcher 1.5.1"
Here's the exception.
/lib/ruhoh/programs/watch.rb:32>#call(<DirectoryWatcher::Event type: modified path: '/Users/chadkouse/src/website/dev-blog/pages/about.md'>) and all I got was this lousy exception undefined method `[]' for #DirectoryWatcher::Event:0x007fa56bb68dd0

reverting to directory_watcher 1.4.1 makes the error go away.

[2013-03-22 02:14] chadkouse commented on #142
I'll make a pull request to lock in 1.4.1 until a fix is ready.

[2013-03-23 19:11] amanking opened #144 "with_index issue when rendering summary"
Using ruby 2.0.0p0 (2013-02-24 revision 39474).

ruhoh breaks when rendering summary of a post. Example error:
lib/ruhoh/resources/_page/model_view.rb:67:in `summary': undefined method`with_index' for ["Hi\n", "How are you?"]:Array (NoMethodError)

Perhaps this does not occur on Ruby 1.9.2+ However, in Ruby 2.0, there have been some changes with respect to return types being Array or Enumerator. h

[2013-03-23 19:12] amanking commented on #144
Pull request with fix: https://github.com/ruhoh/ruhoh.rb/pull/145

[2013-03-28 19:10] jmburges opened #147 "Define Navigation in site.yml file no longer works"
I'm trying to get only certain pages to show up in my navigation. To do this I would like to use something like the templating system from v1 using ?to_pages and the site.yml file. It doesn't seem like this works anymore. Any replacement in v2?

[2013-03-28 21:27] karfau commented on #147
Yes, it is in data.yml now

[2013-03-28 21:33] plusjade commented on #147
@karfau good catch!

[2013-04-13 17:07] binaryphile opened #149 "2.0.alpha.3 throws runtime error on pages not in the root page directory"
I have a working instance, but when I make a page like pages/test/test.md, I get the following error in development:

[code]

Works fine in ruhoh 1.1.

[2013-04-13 17:28] plusjade commented on #149
Can you paste your config.yml file? 2.0.rc makes even more changes (sigh hopefully this weekend will be the miracle weekend I release it) so I'm getting quite out of sync with all the multiple iterations between versions.

Suffice to say it may just be an improper configuration in config.yml but I'll have to run it locally to verify. Thanks!

[2013-04-13 17:53] binaryphile commented on #149
Thanks!  You can see it here: https://github.com/binaryphile/tampawomanshealth/blob/develop/config.yml

In fact you can see my whole site there, although I haven't checked in the theme yet (nor the test page).  You'll need to switch the theme back to twitter probably.

[2013-04-13 18:15] binaryphile commented on #149
Funny, just tried it again (after going through the trouble to migrate back to 1.1) and 2.0 seems to be working with the page in the subdirectory.  I probably just screwed something up.  I'll leave this open for a bit while I investigate further.

[2013-04-13 18:29] plusjade commented on #149
Yeah if i switch the theme to 'twitter' it's working in that I can find the pages in the pages directory but other things are breaking, primarily the mustache stuff. Let me know if you get anywhere with it, I'd really like to bump everything to 2.0.rc this weekend so even though it won't be a complete launch, it will be much better to concentrate attention on a stable API, because I'm pretty out o

[2013-04-25 02:31] binaryphile commented on #149
I'm sure this was something wrong with my configuration.  Haven't had any problems like it for a while.

[2013-04-25 02:31] #149 closed, assigned to nobody

[2013-05-17 17:07] tlupfer opened #150 "invalid byte sequence in UTF-8 (ArgumentError)"
I get this error with the latest code and ruby-2.0.0-p195.

timimac:www.slowtheory.com timlupfer$ bundle exec rackup
/usr/local/rvm/gems/ruby-2.0.0-p195/bundler/gems/ruhoh.rb-9fe5d7cdf5e7/lib/ruhoh/base/model.rb:102:in `match': invalid byte sequence in UTF-8 (ArgumentError)

[2013-05-17 17:20] plusjade commented on #150
@tlupfer I recently pushed months of work into the master branch so I'm not sure if you are using that latest code (2.1) or if you are in 2.0.alpha.x  -- Even I am very confused myself so I want to release 2.1 asap, I just have one final issue to resolve before I can do that (pagination is not working correctly unfortunately).

So if you can tell me what codebase you are on , I can run it and chec

[2013-05-17 17:26] tlupfer commented on #150
It's dying on "/Users/timlupfer/Git/ruhoh/www.slowtheory.com/themes/simple/fonts/glyphicons-regular.eot" which probably makes sense, but I'm guessing it shouldn't be trying to do anything at all with that file? Version information:

timimac:www.slowtheory.com timlupfer$ head -n5 Gemfile.lock
GIT
  remote: git://github.com/ruhoh/ruhoh.rb.git
  revision: 9fe5d7cdf5e79a37f2dcdd612bae4f2cf0c67435
  sp

[2013-05-17 21:00] tlupfer commented on #150
Same thing specifying master branch. Removing the fonts and media directories allows rack to start without dying (other issues occur then, but I'll keep this thread on topic).

The issue seems to be trying to parse everything in the themes directory as a page.

[2013-05-17 21:24] plusjade commented on #150
Ah I think the problem is the new config format.

Themes are now optional and no longer name-spaced into the theme folder. "Every folder is a collection" so if you want a folder to behave like a theme you just put the theme folder directly into the root of your blog and define which collection processor to use in the config:

[code]

So basically you are telling the folder "twitter-theme" to use "

[2013-05-18 17:27] samvasko commented on #54
I am running Ruby 2.0.0 and getting the same option. And I tried that, Did not work. I get

[code]

[2013-05-20 00:58] #142 closed, assigned to nobody

[2013-05-20 14:11] #144 closed, assigned to nobody

[2013-05-21 23:53] tlupfer opened #152 "Permalink formatting not working for year, month, or date"
In 2.1, this results in only the :title being substituted correctly:

posts:
  sort: ["date", "desc"]
  permalink: "/:year/:month/:day/:title/"

[2013-05-21 23:59] tlupfer opened #153 "TypeError: no implicit conversion of Date into String"
TypeError: no implicit conversion of Date into String
    /usr/local/rvm/gems/ruby-2.0.0-p195/gems/ruhoh-2.1/lib/ruhoh/base/model_view.rb:47:in `parse'

added "to_s" and it gets rid of the error, but not sure if it breaks anything else?

[2013-05-22 00:01] tlupfer opened #154 "NoMethodError: undefined method `with_index'"
Get the following error when loading summary views:

NoMethodError: undefined method `with_index' for #<Array:0x007fbf9a423ea0>
    /usr/local/rvm/gems/ruby-2.0.0-p195/gems/ruhoh-2.1/lib/ruhoh/base/model_view.rb:117:in`summary'

Commented 117-122 and everything else works fine.

[2013-05-22 00:03] tlupfer commented on #153
Slightly different error message with ruby 1.9.3

127.0.0.1 - - [21/May/2013 19:03:02] "GET /favicon.ico HTTP/1.1" 200 - 0.0169
TypeError: can't convert Date into String
    /usr/local/rvm/gems/ruby-1.9.3-p429/gems/ruhoh-2.1/lib/ruhoh/base/model_view.rb:47:in `parse'

[2013-05-22 00:05] tlupfer commented on #154
This one is exclusive to ruby 2.0.0. It doesn't happen with 1.9.3

[2013-05-22 00:15] plusjade commented on #154
Yeah there was a pull request for that with an easy fix. I need to upgrade my xcode before I can install ruby 2.0 though =x  hmm i will do that right now!

[2013-05-22 03:46] tlupfer commented on #152
Fix merged

[2013-05-22 03:46] #152 closed, assigned to nobody

[2013-05-22 03:48] tlupfer commented on #150
Issue solved by making required configuration changes for 2.1.

[2013-05-22 03:48] #150 closed, assigned to nobody

[2013-05-23 00:04] Stebalien commented on #153
Yaml is converting it to a date for you. The simplest workaround is to wrap all of your dates in quotes however, it would obviously be better if this were fixed in ruhoh itself.

[2013-05-23 18:01] caspervonb opened #157 "Remove stale branches from repository"
As far as i can tell all the branches but master are stale, and should be removed.

[2013-05-23 18:06] plusjade commented on #157
Very true, and done!

[2013-05-23 18:06] #157 closed, assigned to nobody

[2013-05-24 00:50] tlupfer commented on #137
@plusjade Version 2.1 is significantly slower than 2.0. To compile ~280 posts took 26 minutes. However, it seems entirely due to page.next and page.previous. Removing that section from the post layout results in a compile time of about 3 minutes. Weird or expected?

[2013-05-24 01:09] plusjade commented on #137
Well it's definitely a bug since 26 minutes to compile anything is quite unreasonable.

I've added a "smart" caching strategy while trying hard to avoid complexity. I'm pretty we just need to catch scenarios in which the cache isn't being handled correctly or the method call is not taking advantage of the cache.

Very likely the case with page.next/page.previous as  I see 3 high-level calls that r

[2013-05-24 01:48] tlupfer commented on #137
It's now up at tlupfer/www.slowtheory.com.git

[2013-05-24 01:49] plusjade commented on #137
Great thanks ill check it out right now
On May 23, 2013 6:48 PM, "Tim Lupfer" notifications@github.com wrote:

[2013-05-24 03:13] plusjade commented on #137
@tlupfer good news is by adding a cache conditional to `collection.all` I've got compile time for your blog down to 26 seconds. Basically it takes time to [filter the collection Array](https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/resources/pages/collection_view.rb#L11-15) on every call so we'll cache the filtered result when in compile mode.

Though now I see custom permalink formats ar

[2013-05-24 08:13] #153 closed, assigned to nobody

[2013-05-24 08:17] plusjade commented on #137
Here's the pending fix:

Replace https://github.com/ruhoh/ruhoh.rb/blob/master/lib/ruhoh/resources/pages/collection_view.rb#L11-15 with:

[code]

Haven't merged this in because I need to invalidate this cache on every request-cycle and need to test to make sure it works, but need to go to sleep now!

This should get your compile time down to 27-29 seconds.

[2013-05-24 13:08] tlupfer commented on #137
Much better!

[2013-05-24 13:18] caspervonb opened #158 "Rename Widgets::CollectionView fields."
@plusjade considering every other collection views have migrated away from an underscore convention, would it not be appropriate for widgets to do the same?

So it would be this.path, this.config rather than this_path and this_config.

[2013-05-25 02:37] #147 closed, assigned to nobody

[2013-05-25 02:39] plusjade commented on #141
Hi @zjhui sorry I took so long to reply but I was holding off until I stablized the API. It seems that took a crazy long time but ruhoh 2.1 is finally here so I'll finally close out this issue: Upgrade docs can be found here: http://ruhoh.com/docs/2/upgrading/

[2013-05-25 02:39] #141 closed, assigned to nobody

[2013-05-25 02:45] plusjade commented on #7
Ended up going with [sprockets](https://github.com/sstephenson/sprockets) because it's defacto standard for the ruby community.

[Asset-pipeline documentation for ruhoh 2.1](http://ruhoh.com/docs/2/asset-pipeline/)

[2013-05-25 02:45] #7 closed, assigned to nobody

[2013-05-25 02:51] plusjade commented on #30
Ruhoh 2.1 officially supports [sprockets](https://github.com/sstephenson/sprockets)

http://ruhoh.com/docs/2/asset-pipeline/

[2013-05-25 02:51] #30 closed, assigned to nobody

[2013-05-25 02:55] plusjade commented on #29
Theme API has been stablized in ruhoh 2.1 http://ruhoh.com/docs/2/themes/

I think there can still be improvements but overall the structure is much simpler and we no longer make any assumptions on how to organize presentation assets, aside from core directory roles.

Feel free to log any specific improvements as new issues. Thanks for all the feedback!

[2013-05-25 02:55] #29 closed, assigned to nobody

[2013-05-25 03:16] #26 closed, assigned to nobody

[2013-05-25 03:18] plusjade commented on #23
Not seeing this anymore in 2.1

[2013-05-25 03:18] #23 closed, assigned to nobody

[2013-05-25 07:27] plusjade commented on #31
Sphinx support is outside the scope of ruhoh as publishing software at least in the immediate feature, but these are good ideas in philosophy.

[2013-05-25 07:27] #31 closed, assigned to nobody

[2013-05-25 07:27] #132 closed, assigned to nobody

[2013-05-25 07:27] #137 closed, assigned to nobody

[2013-05-25 07:40] plusjade commented on #54
@bliker please see if you can install [ruhoh 2.1](http://rubygems.org/gems/ruhoh). There seems to be an issue with libyaml and ruby 2.0.0 in general as I've read; similar to what's mentioned here: https://coderwall.com/p/tptocq

I'll close this particular issue because it's now quite dated but if you are still trying ruhoh and still having problems feel free to open a new issue relative to 2.1.

[2013-05-25 07:40] #54 closed, assigned to nobody

[2013-05-25 07:45] plusjade commented on #60
@ramnathv I know you are using [poirot](https://github.com/ramnathv/poirot) now so this particular issue is a not needed for you anymore. Since 2.1 is now released and this issue is now out of sync I'm going to close it.

As I  eventually write some plugins, hopefully I'll have more insight in why system calls were giving us problems.

[2013-05-25 07:45] #60 closed, assigned to nobody

[2013-05-25 07:46] plusjade commented on #58
Closing this in favor of tracking this issue on the blog scaffold repo.

[2013-05-25 07:46] #58 closed, assigned to nobody

[2013-05-25 07:55] plusjade commented on #126
@webmasterkai, @bjornmeansbear , @Aetherpoint

I know this took forever but ruhoh 2.1 is finally released and the primary design change is to allow arbitrarily defined "page collections". In a nutshell, every top-level directory implicitly defines it's own "page collection" which is scoped and tracks things like tags, categories, and can be iterated and paginated. This allows you to define "essays

[2013-05-25 07:55] #126 closed, assigned to nobody

[2013-05-25 08:00] plusjade opened #159 "[Feature] Add support for link posts"
Daring Fireball style as mentioned in #87

[2013-05-25 15:02] lynnfaraday opened #164 "[Feature] Allow widgets access to post and site data"
Love the new 2.1 design.   It's very clean.  Sorry for the spam of pull requests, but I had to re-implement a lot of stuff in the new framework and thought some of it might be useful.

One thing I haven't been able to re-implement is the "comments count" widget, which shows the number of comments on a post on the main index/pagination pages.  (Necessary since none of the comment plugins support mu

[2013-05-27 03:22] jacobmgreer opened #165 "post2.ruhoh.com"
Just updated from the ruhoh2.0alpha to ruhoh2.1.  Made the changes and decided to delete and recreate the repo to remove some old history, but now trying to re-connect to the ruhoh webhook.  Do I point it to post2.ruhoh.com?  I tried that and it doesn't seem to be compiling.

[2013-05-27 03:41] plusjade commented on #165
There is not compilation service for ruhoh 2.x

I'm not sure if I should spend time creating it because the general philosophy in ruhoh is to integrate closely to native code (ruby in this case) via mustache. It _seems_ like mustache is inherently insecure in that you can run arbitrary ruby methods depending on how you call things.

This, however is only alarming in the case you are freely compili

[2013-05-27 03:49] jacobmgreer commented on #165
I was manually hitting the compile button in post2.ruhoh.com for the last build of ruhoh2.alpha.  I'm wondering if the 2.1 build is still capable of that and I just made the mistake of deleting the old repo and confusing it.

[2013-05-27 03:54] plusjade commented on #165
No, post2.ruhoh.com (and the old post.ruhoh.com for that matter) is versioned with bundler with locks the  gem at a specific versions so it's only capable of loading the alpha in this case. My last reply was regarding the general value and security implementations of providing/continuing to provide a compile service.  It would just take one guy looking for LOL's to kill the service. Of course it's

[2013-05-27 06:12] jacobmgreer commented on #165
I think I've solved this by compiling on the laptop into a jekyll hosted github project.  Currently switching the custom domain over to the github page, but I think this both uses ruhoh and hosts on github!  (I should find out soon) :beer:

[2013-05-27 06:14] jacobmgreer commented on #165
Domain populated, totally working. Success! :balloon:

[2013-05-27 06:14] #165 closed, assigned to nobody

[2013-05-27 16:18] lynnfaraday opened #166 "2.1 Compile Times Slow"
I have the change in Issue #132 already, but my compile time (for 766 posts) is still over 4 (or sometimes 5) minutes.

195.950000  10.210000 206.160000 (253.937364)

Just looking at the output, it seems to be zipping along until it hits the pagination, and then it slows to a crawl.

I understand that a large blog is never going to compile in a heartbeat, but this seems excessive.

Perhaps some im

[2013-05-27 18:14] plusjade commented on #166
This is fixed in 2.1.1 (https://github.com/ruhoh/ruhoh.rb/commit/536a38cde9e7da833b9ba6efd895bae20216fdf8) which is not yet on rubygems but can be installed via changing the Gemfile entry to:

[code]

I wil push the updated gem later tonight as I'll try to get more stuff in.

[2013-05-27 18:39] plusjade commented on #166
@lynnfaraday sorry I realize you mentioned you already were running the fix! Reopened.

[2013-05-28 20:06] #154 closed, assigned to nobody

[2013-05-30 03:36] #164 closed, assigned to nobody

[2013-05-30 03:51] plusjade commented on #164
I've added full context to the widgets with referenced commit (to use just load the gem from git using `gem 'ruhoh' , git: 'git@github.com:Gild/Gildhub.git'` in Gemfile and `bundle install` until I push to rubygems which will be soon.)

To access global config data you can do:

[code]

This is basically drilling down into the native ruby structure, and although verbose, it will be supported. Note

[2013-05-30 03:54] plusjade commented on #158
@caspervonb yes you are right. When I re-implemented the widgets I was in a "get this damned thing working". Since then I haven't really cleaned up the widgets implementation.  I agree, we should pass in an object that responds to the arbitrary configuration paramaters. Please feel free to submit a refactored pull request. I'll keep this open so I'll get to it eventually if you can't. thanks!

[2013-05-30 05:09] lynnfaraday opened #171 "Widgets mess up pagination output when included in posts"
This appears to have been caused by [widget context change](https://github.com/ruhoh/ruhoh.rb/commit/c564232adec56a36a32f723e46dd8b5d48af2126), because if I revert that commit - everything's fine.

Is there something I'm doing wrong, or does the master render cause this somehow?

Sample post:

[code]

Sample widget (default.html):

[code]

Actual output **in pagination view**:

[code]

Paragraph2

[2013-05-30 05:15] lynnfaraday commented on #164
@plusjade  - That's exactly what I needed, thanks.  (Apart from it possibly causing issue #171.)

More context:   I have a comments_count widget (viewable on [my fork](https://github.com/lynnfaraday/ruhoh.rb/tree/master/system/widgets/comments_count/layouts)) to show  something like "3 Comments" at the bottom of a post on the paginator index pages.   (Since disqus and livefyre can't handle showing

[2013-05-30 09:09] caspervonb commented on #158
I'll try to get to it this weekend.

[2013-05-31 03:25] peck commented on #30
Does the asset pipleline as currently implemented support using haml/etc for defining layouts?

I've added the requisite "gem 'haml'" to my Gemfile, and tried creating a default.html.haml, but get the error "Layout does not exist: default", and when renaming that file to default.haml the contents of the file are rendered without going through the haml templating engine.

Scss files work file so it

[2013-05-31 03:41] plusjade commented on #30
@peck you are right in that the full sprockets environment is loaded so it can easily compile haml, however in ruhoh sprockets is attached specifically to the javascripts and stylesheets assets. The layouts collection does not interface with sprockets. Also to your specific problem, I think the layouts finder is not setup to find files with multiple extensions a la sprockets style. It _should_ fin

[2013-05-31 03:57] peck commented on #30
@plusjade thanks for the quick response. I've actually started using slim lately and love it, not quite as terse as haml, but with most all of the benefits and some mustache style templating built in. Mentioned haml in my post since I figured more would be familiar with it.

As you mentioned it probably should be prioritized lower, but may be nice to have on the roadmap either way

[2013-05-31 04:00] peck opened #172 "Feature Request: Support for Haml/Slim templates"
As mentioned in Issue #30, support for haml/slim and potentially other templating engines within the layouts directory.

[2013-05-31 16:05] #109 closed, assigned to nobody

[2013-06-05 03:32] plusjade commented on #107
Link to relevant documentation: http://ruhoh.com/docs/2/plugins/#toc_7

Support for kramdown as of ruhoh 2.x

[code]

Make sure the kramdown gem is in your bundle or local gemset.

[2013-06-05 03:32] #107 closed, assigned to nobody

[2013-06-07 23:51] lynnfaraday commented on #171
I patched this in my own fork by reverting the widget context change and making an alternate way for widgets to access the post data.  I'm pretty sure it's not the most "correct" way of doing it (hence why there's no pull request), but it will at least fix the widgets in the mean time.  [Commit](https://github.com/lynnfaraday/ruhoh.rb/commit/c50af972be0ed2adc3a2824c276b615b820ccafe)